#freeText {
	font-size: 24px;
	font-family: webfont, serif;
	}
	
@media print { #freeText { font-size: 18px; } }

[lang=ja] { font-family: serif; font-size: 120%;  }
/* .large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; } */
.large { font-size: 250%; }
thead th { text-align: center; }
#fig_yotsugana td { text-align:  center; }
