#freeText {
	font-size: 24px;
	font-family: webfont, serif;
	line-height: 1.4;
	}


[lang=ja] { font-family: "Noto Serif CJK JP", serif; font-size: 120%; line-height: 1; }

@media print { #freeText { font-size: 18px; } }





/* .large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; } */
.large { font-size: 250%; }
thead th { text-align: center; }
#fig_yotsugana td { text-align:  center; }



.useBlockExamples .charExample .ex {
    font-size: 2rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




