@font-face {
    font-family: 'Noto Sans Buginese WF';
    src: url('../../shared/webfonts/notosansbuginese-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=bug] { font-family: 'Noto Sans Buginese WF'; font-size: 140%; }



#freeText {
	font-size: 36px;
	font-family: "Noto Sans Buginese WF";
	text-align: start;
	line-height: 2.5;
	}





.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
	.temp { color: #ccc; }



.useBlockExamples .charExample .ex {
    font-size: 3rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }



.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }




