@font-face {
    font-family: 'Noto Sans Buginese WF';
    src: url('../../shared/webfonts/notosansbuginese-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=bug] { font-family: 'Noto Sans Buginese WF'; font-size: 140%; }



#freeText {
	font-size: 28px;
	font-family: "Noto Sans Buginese WF";
	text-align: start;
	line-height: 2.5;
	}





.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
	.temp { color: #ccc; }



.useBlockExamples .charExample .ex {
    font-size: 3rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }







