@font-face {
    font-family: 'Noto Sans Tifinagh WF';
    src: url('/shared/webfonts/NotoSansTifinagh-Regularwebfont.woff2') format('woff2'),
         url('/shared/webfonts/NotoSansTifinagh-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 30px;
	font-family: "Noto Sans Tifinagh WF", sans;
    text-align: start;
	line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ber] { font-family: "Noto Sans Tifinagh WF", sans; font-size: 150%; }
.large[lang=ber] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }
.narrowlines .listItem[lang=ber] { font-family: Tagmukay, 'Noto Sans Tifinagh WF'; }
