@font-face {
    font-family: 'Arian AMU WF';
    src: url('../../shared/webfonts/arnamu-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/arnamu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Armenian WF';
    src: url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#freeText {
	font-size: 28px;
	font-family: 'Arian AMU WF', serif;
	text-align: start;
    line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }
[lang=hy] { font-family: 'Arian AMU WF', serif; font-size: 140%; }
.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.iso9985 { font-family: gentiumpluswf; }
