@font-face {
    font-family: 'Arian AMU WF';
    src: url('../../shared/webfonts/arnamu-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/arnamu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Armenian WF';
    src: url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

:lang(hy) {
	font-family: "Arian AMU WF", "Noto Sans Armenian WF", Mshtakan, "Sylfaen", "Noto Sans Armenian", "Noto Serif Armenian", sans-serif;
	font-size: 24px;
	}
.name:lang(hy) {
	font-family: "Arian AMU WF", "Noto Sans Armenian WF", Mshtakan, "Sylfaen", "Noto Sans Armenian", "Noto Serif Armenian", sans-serif;
	font-size: 1em;
	}
#index td {
	font-family: "Arian AMU WF", "Noto Sans Armenian WF", "Noto Serif Armenian", "Mshtakan", "Sylfaen", "Noto Sans Armenian", sans-serif;
	font-size: 26px;
	padding: 8px;
	}
.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Arian AMU WF", "Noto Sans Armenian WF", "Noto Serif Armenian", "Mshtakan", "Sylfaen", "Noto Sans Armenian", sans-serif;
	background-color: white;
	}
#fontsetting {
	width: 270px;
	}
#fontsetting.open {
	right: 0px;
	}
#fontsetting.closed {
	right: -258px;
	}
#fontsettingswitch {
	height: 130px;
	}
.ipa:before { content: '⌈'; font-family: 'Helvetica Neue', serif; margin-right: 1.5px; }
.ipa:after { content: '⌋'; font-family: 'Helvetica Neue', serif; margin-left: 1.5px; }
