@font-face {
    font-family: 'Noto Sans Tai Le WF';
    src: url('../../shared/webfonts/notosanstaile-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=tdd] { font-family: "Noto Sans Tai Le WF", serif; font-size: 150%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: "Noto Sans Tai Le WF", serif;
    text-align: start;
	line-height: 1.8;
	}







.useBlockExamples .charExample .ex {
    font-size:300%;
    line-height: 1.4;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }






