@font-face {
    font-family: 'Noto Sans Nag Mundari WF';
    src: url('../../shared/webfonts/notosansnagmundari-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=unr] { font-family: 'Noto Sans Nag Mundari WF', 'Noto Sans', serif; }

@media print { 
    #freeText { font-size: 18px; } 
    }



#freeText p {
	font-size: 36px;
	font-family: 'Noto Sans Nag Mundari WF';
	text-align: start;
    line-height: 2;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	




.codepoint span[lang=unr], .codepoint bdi[lang=unr] {
    color: black;
    font-size: 120%;
    }




.charExample .ex {
    font-size:180%;
    line-height: 1.9;
    }
.charExample.inline .ex {
    font-size: 150%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
    }

.rb {
    font-family: 'Noto Sans Nag Mundari WF';
    }


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }

.listItem[lang] {
    font-size: 150%;
    }


