@font-face {
    font-family: 'Noto Sans Telugu WF';
    src: url('../../shared/webfonts/notosanstelugu-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosanstelugu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif thisScript WF';
	src: 	local('Noto Serif thisScript'),
			url('../../shared/webfonts/notoserifthisscript-regularwebfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notoserifthisscript-regularwebfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: Noto Sans Telugu WF, serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }
[lang=tmp] { font-family: Noto Sans Telugu WF, 'thisScript WF', serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	
