@font-face {
    font-family: 'Arian AMU WF';
    src: url('../../shared/webfonts/arnamu-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/arnamu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Armenian WF';
    src: url('../../shared/webfonts/notoserifarmenian-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifarmenian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Armenian WF';
    src: url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=hy] { 
	font-family: 'Noto Serif Armenian WF', serif; 
	font-size: 140%; 
	}

.rb { font-family: 'Noto Serif Armenian WF'; }



#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Armenian WF', serif;
	text-align: start;
    line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }



/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.charExample.inline .ex {
    font-size: 200%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 1rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
/*#consonant_mappings .mapItem .posn { display: none; }*/

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 2rem;
	}





.sequenceTable.breakdown {
   margin-inline-start: calc(7.5% + 5.2rem);
   margin-block-start: -.7rem;
    }







