@font-face {
    font-family: 'Arian AMU WF';
    src: url('../../shared/webfonts/arnamu-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/arnamu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Armenian WF';
    src: url('../../shared/webfonts/notoserifarmenian-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifarmenian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Armenian WF';
    src: url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansArmenian-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=hy] { 
	font-family: 'Noto Serif Armenian WF', serif; 
	font-size: 140%; 
	}



#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Armenian WF', serif;
	text-align: start;
    line-height: 1.4;
	}


@media print { #freeText { font-size: 18px; } }




.large { 
	font-size: 200%; 
	margin-top: .5em; 
	margin-bottom: 0.5em; 
	line-height: 1.4; 
	}
.iso9985 { 
	font-family: gentiumpluswf; 
	}







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







