@font-face {
    font-family: 'Noto Sans Tagbanwa WF';
    src: url('../../shared/webfonts/notosanstagbanwa-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=tbw] { font-family: "Noto Sans Tagbanwa WF"; font-size: 120%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 44px;
	font-family: "Noto Sans Tagbanwa WF";
	text-align: start;
    line-height: 2;
	}




/* optional
.listItem[lang] {
    font-size: 300%;
    }
.codepoint span[lang=nod], .codepoint bdi[lang=nod] {
    color: black;
    font-size: 3rem;
    }
*/







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }



.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 3;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    text-align: end;
    font-size: 2em;
    }
.mapItem example {
    line-height: 3;
    }
.shaping {
    margin-inline: .5rem;
    font-size: 2rem;
    }

