@font-face {
    font-family: 'Noto Sans Mandaic WF';
    src: url('/shared/webfonts/notosansmandaic-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansmandaic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#freeText {
	font-size: 28px;
	font-family: 'Noto Sans Mandaic WF', serif;
	text-align: start;
    line-height: 1.2;
	}
	
@media print { #freeText { font-size: 18px; } }

[lang=mid] { font-family: 'Noto Sans Mandaic WF'; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
#vowel_map .ipa { white-space: nowrap; }
#consonant_grapheme table {
    width: 70%;
    margin-left: 0;
	}
