@font-face {
    font-family: 'Mingzat WF';
    src: url('../../shared/webfonts/Mingzat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Lepcha WF';
    src: url('../../shared/webfonts/notosanslepcha-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=lep] { font-family: 'Mingzat WF', 'Noto Sans', serif; }

.rb { font-family: 'Mingzat WF'; }





#freeText {
	font-size: 28px;
	font-family: 'Mingzat';
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }






/* Examples */
.charExample .ex {
    font-size:150%;
    line-height: 1.9;
    }
.charExample.inline .ex {
    font-size: 100%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
    font-size: 140%;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 1.4rem;
    margin-inline-end: 1rem;
    line-height: 1;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 3rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
/*#consonant_mappings .mapItem .posn { display: none; }*/

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}




/* Sequence tables */
.sequenceTable.breakdown {
    margin-inline-start: calc(7.5% + 5.2rem);
    margin-block-start: -.7rem;
    }
.sequenceTable .ex {
    font-size: 1.4em;
    line-height: 1;
    }












