@font-face {
    font-family: 'Mingzat WF';
    src: url('../../shared/webfonts/Mingzat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Lepcha WF';
    src: url('../../shared/webfonts/notosanslepcha-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=lep] { font-family: 'Mingzat WF', 'Noto Sans', serif; }

@media print { 
    #freeText { font-size: 18px; } 
    }




#freeText {
	font-size: 36px;
	font-family: 'Mingzat';
	text-align: start;
    line-height: 2;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	




.codepoint span[lang=lep], .codepoint bdi[lang=lep] {
    color: black;
    font-size: 120%;
    }




.charExample .ex {
    font-size:180%;
    line-height: 1.9;
    }
.charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
    }

.rb {
    font-family: 'Mingzat WF';
    }


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }

.listItem[lang] {
    font-size: 150%;
    }


