@font-face {
	font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazadenew-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Alkalami WF';
    src: url('../../shared/webfonts/alkalami-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=ha] { font-family: 'Alkalami WF'; font-size: 150%; }


[lang=ar] { font-family: 'Scheherazade WF'; font-size: 150%; }


#freeText {
	font-size: 48px;
	font-family: 'Alkalami WF', 'Scheherazade WF', serif;
    line-height: 2.2;
	}

@media print { #freeText { font-size: 18px; } }

.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.medium .ex { font-size: 200%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.listTransc { font-family: gentiumpluswf; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }



/*#vowel_grid td { height: 3em; vertical-align: top; border: 0; border-bottom: 1px solid #ccc; }
#vowel_grid th { vertical-align: bottom; line-height: 1;}
#vowel_grid td span { white-space: nowrap; text-align: start; border: 0; padding-left: .5em; font-size: 120%; }*/


/*#vowel_grid td:has(span) {
    border: 1px solid tan;
    }*/
figure#vowel_grid {
    margin-inline: 5rem;
    }
#vowel_grid { margin:0; border-collapse: collapse; }
#vowel_grid td { vertical-align: top; border: 0; padding-block: 1rem; line-height: 3rem;  white-space: nowrap; }
#vowel_grid td span {text-align: start; border: 0; padding-left: .5em; font-size: 2.4rem; }

#vowel_grid td .ipa {
    color: black;
    font-size: 1.6rem;
    font-style: normal;
    }
#vowel_grid tr { border-block: 1px solid #ddd; }



