@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: url('../../shared/webfonts/notonastaliqurdu-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Awami Nastaliq WF';
    src: url('../../shared/webfonts/AwamiNastaliq-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Scheherazade WF';
    src: local('Scheherazade New'),
         url('../../shared/webfonts/scheherazadenew-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/scheherazadenew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



#freeText {
	font-size: 36px;
	font-family: 'Noto Nastaliq Urdu WF', "Awami Nastaliq", serif;
    line-height: 2.5;
    /*font-language-override: 'URD';
    font-feature-settings: 'hamz' 1;*/
	}

[lang=ks] { font-family: 'Noto Nastaliq Urdu WF', "Awami Nastaliq", serif; 
    font-size: 150%; 
    /*font-language-override: 'URD'; 
    font-feature-settings: 'hamz' 1; */
    }
.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.iso15919 { font-family: gentiumpluswf; }

/*
#vowel_grid td { height: 3em; vertical-align: top; border: 0; border-bottom: 1px solid #ccc; }
#vowel_grid th { vertical-align: bottom; line-height: 1; hyphens: none; }
#vowel_grid td span { white-space: nowrap; text-align: start; border: 0; padding-left: .5em; font-size: 120%; }

.vowel_forms { margin-block-end: 2em; }
.vowel_forms td {text-align: start; padding-inline-start: 1em; }
.vowel_form_list span span { white-space: nowrap; text-align: start; border: 0; padding-left: .5em; font-size: 120%; }
.vowel_form_example { font-size: 85%; text-align: start; }
*/


@media print { #freeText { font-size: 18px; } }



.listItem[lang] {
    line-height: 2.4;
    }



.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 150%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
    }


/*#vowel_grid td { height: 3em; vertical-align: top; border: 0; border-bottom: 1px solid #ccc; }
#vowel_grid th { vertical-align: bottom; line-height: 1;}
#vowel_grid td span { white-space: nowrap; text-align: start; border: 0; padding-left: .5em; font-size: 120%; }*/


/*#vowel_grid td:has(span) {
    border: 1px solid tan;
    }*/
figure#vowel_grid {
    margin-inline: 5rem;
    }
#vowel_grid { margin:0; border-collapse: collapse; }
#vowel_grid td { vertical-align: top; border: 0; padding-block: 1rem; line-height: 3rem;  white-space: nowrap; }
#vowel_grid td span {text-align: start; border: 0; padding-left: .5em; font-size: 2.4rem; }

#vowel_grid td .ipa {
    color: black;
    font-size: 1.6rem;
    font-style: normal;
    }
#vowel_grid tr { border-block: 1px solid #ddd; }




