@font-face {
    font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazadenew-regular-webfont.woff2') format('woff2'),
    url('../../shared/webfonts/scheherazadenew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Awami Nastaliq WF';
	src: local('Awami Nastaliq'),
		url('../../shared/webfonts/AwamiNastaliq-Regular.woff2') format('woff2'),
		url('../../shared/webfonts/AwamiNastaliq-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    		src: local('Noto Nastaliq Urdu'),
			url('../../shared/webfonts/notonastaliqurdu-webfont.woff2') format('woff2'),
			url('../../shared/webfonts/notonastaliqurdu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Alkalami WF';
    		src: local('Alkalami'),
    url('../../shared/webfonts/Alkalami-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang|='ar'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 2rem; /* this sets the font-size relative to the surrounding Latin text */
    line-height: 1.6;
	}
[lang|='ckb'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 1.4rem; 
	}
[lang|='ff'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 2rem;
    line-height: 1.6;
	}
[lang|='pes'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 2rem; 
	}
[lang|='ha'] { 
	font-family: Alkalami, "Alkalami WF", "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 2rem; 
	}
[lang|='sd'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 1.4rem; 
	}
[lang|='ug'] { 
	font-family: "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", "Noto Naskh Arabic", sans-serif; 
	font-size: 2rem; 
	}
[lang|='ur'] { 
	font-family: "Noto Nastaliq Urdu WF", "Nafees Nastaleeq", "Noto Nastaliq Urdu Draft", "Urdu Typesetting", "Aldhabi", "Scheherazade", sans-serif; 
	font-size: 1.4rem; 
	}
[lang|='ks'] { 
	font-family: "Noto Nastaliq Urdu WF", "Awami Nastaliq", "Nafees Nastaleeq", "Urdu Typesetting", "Aldhabi", "Scheherazade", sans-serif; 
	font-size: 1.4rem; 
	}

#index td { 
	font-family: "Noto Naskh Arabic", "Scheherazade WF", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", sans-serif; 
	font-size: 26px; 
	padding: 8px;  
	direction: rtl; 
	text-align: right; 
	line-height: 1.4em; 
	}

.charimg { 
	font-size: 130px; 
	min-width: 190px; 
	min-height: 190px; 
	text-align: center; 
	vertical-align: middle; 
	line-height: 190px; 
	font-family: "Noto Naskh Arabic", "Scheherazade", "Alkalami", "Al Bayan", "Arabic Typesetting", "Traditional Arabic", sans-serif;
	background-color: white; 
	}

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 150px; }
#fontsetting p { margin-right: 20px; }

.sidebar {
	background-color: white;
	padding-left: 2em;
	border-bottom-left-radius: 10px;
	}

.hamzaTable  {
	border: 1px solid tan;
	border-radius: .25em;
	}
.hamzaTable td {
	border: 1px solid #eee;
	min-width: 2em;
	vertical-align: middle;
	}
.hamzaTable thead th {
	text-align: center;
	}
.hamzaTable tbody th {
	text-align: right;
	vertical-align: middle;
	}
/*.hamzaTable .ipa:before {
	content: '';
	}
.hamzaTable .ipa:after {
	content: '';
	}
*/
.hamzaTable tr td:last-of-type { text-align: start; padding-left: 2em; } 
