@font-face {
    font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: local("Noto Nastaliq Urdu"),
         url('../../shared/webfonts/notonastaliqurdu-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notonastaliqurdu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Awami Nastaliq WF';
	src: local('Awami Nastaliq'),
		url('../../shared/webfonts/AwamiNastaliq-Regular.woff2') format('woff2'),
		url('../../shared/webfonts/AwamiNastaliq-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#arabicText {
	font-size: 38px;
	font-family: Scheherazade WF, serif;
	text-align: right;
	line-height: 1.4;
	}
#freeText {
	font-size: 28px;
	font-family: "Noto Nastaliq Urdu WF", serif;
	text-align: right;
	line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ar], [lang=fa] { font-family: Scheherazade WF, serif; font-size: 200%; }
[lang=ur] { font-family: "Noto Nastaliq Urdu WF", serif; font-size: 150%; }
.large[lang=ar], .large[lang=fa] { font-size: 500%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.large[lang=ur] {font-size: 300%; text-align: center; line-height: 1; margin-top: .75em; margin-bottom: .25em; }
.medium .ex { font-size: 150%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }



/*#vowel_grid td { height: 3em; vertical-align: top; border: 0; border-bottom: 1px solid #ccc; }
#vowel_grid th { vertical-align: bottom; line-height: 1;}
#vowel_grid td span { white-space: nowrap; text-align: start; border: 0; padding-left: .5em; font-size: 120%; }*/


figure#vowel_grid { margin-inline: 5rem; }
#vowel_grid { margin:0; border-collapse: collapse; }
#vowel_grid td { vertical-align: top; border: 0; padding-block: 1rem; line-height: 3rem;  white-space: nowrap; }
#vowel_grid td span {text-align: start; border: 0; padding-left: .5em; font-size: 2.4rem; }

#vowel_grid td .ipa {
    color: black;
    font-size: 1.5rem;
    font-style: normal;
    }
#vowel_grid tr { border-block: 1px solid #ddd; }



#no_diacritics th { vertical-align: top; line-height: 1; }
#no_diacritics td { vertical-align: middle; }








.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 150%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}




