@font-face {
    font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: local("Noto Nastaliq Urdu"),
         url('../../shared/webfonts/notonastaliqurdu-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Awami Nastaliq WF';
	src: local('Awami Nastaliq'),
		url('../../shared/webfonts/AwamiNastaliq-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=ar], [lang=fa] { font-family: Scheherazade WF, serif; font-size: 200%; }
[lang=ur] { font-family: "Noto Nastaliq Urdu WF", serif; font-size: 150%; }


#arabicText {
	font-size: 38px;
	font-family: Scheherazade WF, serif;
	text-align: right;
	line-height: 1.4;
	}
#freeText {
	font-size: 28px;
	font-family: "Noto Nastaliq Urdu WF", serif;
	text-align: right;
	line-height: 2;
	}

@media print { #freeText { font-size: 18px; } }



/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 2;
    }
.charExample.inline .ex {
    font-size: 150%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 2rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
#consonant_mappings .mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}











figure#vowel_grid { margin-inline: 5rem; }
#vowel_grid { margin:0; border-collapse: collapse; }
#vowel_grid td { vertical-align: top; border: 0; padding-block: 1rem; line-height: 3rem;  white-space: nowrap; }
#vowel_grid td span {text-align: start; border: 0; padding-left: .5em; font-size: 2.4rem; }

#vowel_grid td .ipa {
    color: black;
    font-size: 1.5rem;
    font-style: normal;
    }
#vowel_grid tr { border-block: 1px solid #ddd; }



#no_diacritics th { vertical-align: top; line-height: 1; }
#no_diacritics td { vertical-align: middle; }











