@font-face {
    font-family: 'Noto Sans Javanese WF';
    src: url('/shared/webfonts/notosansjavanese-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansjavanese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Tuladha Jejeg WF';
    src: url('/shared/webfonts/TuladhaJejeg_gr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: 'Tuladha Jejeg WF', 'Tuladha Jejeg', 'Javanese Text', Yogyakarta, Yogya, 'Noto Sans Javanese WF', serif;
	text-align: start;
	line-height: 2.5;
	}
@media print { #freeText { font-size: 24px; } }
[lang=jv] { font-family: 'Tuladha Jejeg WF', 'Tuladha Jejeg', 'Javanese Text', Yogyakarta, Yogya, 'Noto Sans Javanese WF', serif; font-size: 140%; }
.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.latin { font-family: gentiumpluswf; }
