#freeText {
	font-size: 24px;
	font-family: webfont, serif;
    line-height: 1.2;
    text-align: start;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ru] { font-family: webfont, serif; font-size: 130%; }
.large .ex { font-size: 300%; }
.narrowlines .listPair { margin-bottom: 0.25em; }
