@font-face {
    font-family: 'Vimala WF';
    src: local('Vimala'),
        url('../../shared/webfonts/Vimala.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Aksara Bali WF';
    src: local('Aksara Bali'),
        url('../../shared/webfonts/AksaraBaliwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Balinese WF';
	src: 	local('Noto Serif Balinese'),
			url('../../shared/webfonts/notoserifbalinese-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}


[lang=ban] { 
    font-family: "Vimala WF", "Noto Serif Balinese WF", 'Aksara Bali WF', serif; 
    font-size: 140%;
    }



#freeText {
	font-size: 28px;
	font-family: "Vimala WF", "Noto Serif Balinese WF", serif;
	text-align: start;
    line-height: 2;
	}

.large .ex { 
    font-size: 300%;
    margin-top: .5em;
    margin-bottom: 0.5em;
    line-height: 1;
    }	


@media print { 
    #freeText { font-size: 18px; } 
    }






.useBlockExamples .charExample .ex {
    font-size: 2.5rem;
    line-height: 1.6;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }



.listItem[lang] {
    line-height: 2;
    }








.mapItem {
    text-align: start;
    }
.map_row {
    min-height: 3.5rem;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .ipa {
    hyphens: none;
    }
.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem example {
    line-height: 3;
    }
.mapItem .shaping .codepoint bdi[lang] {
    font-size: 1.6rem;
    }

.mapItem .phone + div { width: 100%; }





/* Sequence tables */
.sequenceTable.breakdown {
   margin-inline-start: calc(7.5% + 5.2rem);
   margin-block-start: -.7rem;
    }
.sequenceTable .ex {
    font-size: 1.6em;
    line-height: 1;
    }































