@font-face {
    font-family: 'Vimala WF';
    src: local('Vimala'),
        url('../../shared/webfonts/Vimala.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Aksara Bali WF';
    src: local('Aksara Bali'),
        url('../../shared/webfonts/AksaraBaliwebfont.woff2') format('woff2'),
        url('../../shared/webfonts/AksaraBaliwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Balinese WF';
	src: 	local('Noto Serif Balinese'),
			url('../../shared/webfonts/notoserifbalinese-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notoserifbalinese-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}


[lang=ban] { 
    font-family: "Vimala WF", "Noto Serif Balinese WF", 'Aksara Bali WF', serif; 
    font-size: 140%;
    }



#freeText {
	font-size: 28px;
	font-family: "Vimala WF", "Noto Serif Balinese WF", serif;
	text-align: start;
    line-height: 2;
	}





.large .ex { 
    font-size: 300%;
    margin-top: .5em;
    margin-bottom: 0.5em;
    line-height: 1;
    }	






.useBlockExamples .charExample .ex {
    font-size: 3rem;
    line-height: 1.6;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




.listItem[lang] {
    line-height: 2;
    }




@media print { 
    #freeText { font-size: 18px; } 
    }
