*.webloc
*.DS_Store
/arabic epub test/
/mongolian copy/
/epub-test/
/arabic/devt/
/parking_lot/
/newtailue copy/
/fontlist/img/zdev/
/telugu/indexSVG.html
/mongolian/nomin ger/
/khmer copy/
/apps/graphemes copy/
/punctuationOLD/
/mong copy/
/arab/devt/
*.numbers
*.psd
