@font-face {
    font-family: 'Noto Serif Ethiopic WF';
    src: url('../../shared/webfonts/notoserifethiopic-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Ethiopic WF';
    src: url('../../shared/webfonts/notosansethiopic-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=am] { font-family: "Noto Serif Ethiopic WF", serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }



#freeText {
	font-size: 24px;
	font-family: "Noto Serif Ethiopic WF", serif;
	text-align: start;
	line-height: 1.6;
	}




.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
#ethiTable td { text-align: center; vertical-align: middle; }
.blank { background-color: antiquewhite; }
.bilab { color: teal; }
.addit .ex, .addit { color: coral; }
.ext .ex, .ext { color: magenta; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







