@font-face {
    font-family: 'Noto Serif Tai Tham WF';
    src: url('../../shared/webfonts/notosanstaitham-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Lamphun WF';
    src: url('../../shared/webfonts/lamphun-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Lanna Alif WF';
    src: url('../../shared/webfonts/lannaalif-v1-03-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'A Tai Tham KH New WF';
    src: url('../../shared/webfonts/a_tai_tham_kh_new-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=nod] { font-family: "Lamphun WF", serif; font-size: 230%; }
[lang=kkh] { font-family: "A Tai Tham KH New WF", serif; font-size: 150%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 24px;
	font-family: "A Tai Tham KH New WF", serif;
    text-align: start;
	line-height: 2;
	}





.large[lang=nod] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.large[lang=kkh] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }
.large1 {font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.large1 {font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
/*
.ex:before {
    content: attr(lang);
    font-size: 12px;
    color: #aaa;
    vertical-align: top;
    }*/
