@font-face {
    font-family: 'Payap Lanna WF';
    src: url('../../shared/webfonts/payaplanna-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Tai Tham WF';
    src: url('../../shared/webfonts/notosanstaitham-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Lamphun WF';
    src: url('../../shared/webfonts/lamphun-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Hariphunchai WF';
    src: url('../../shared/webfonts/lannaalif-v1-03-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'A Tai Tham KH New WF';
    src: url('../../shared/webfonts/a_tai_tham_kh_new-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

	
[lang|='nod'] {
	font-family: 'Hariphunchai', 'Payap Lanna WF', 'Lamphun WF', 'Noto Sans Tai Tham', 'Noto Sans Tai Tham WF', serif;
    font-size: 3em;
	}
[lang|='kkh'] {
	font-family: 'A Tai Tham KH New', 'A Tai Tham KH New WF', 'Noto Sans Tai Tham', 'Noto Sans Tai Tham WF', serif;
    font-size: 2em;
	}
[lang|='khb'] {
	font-family: 'A Tai Tham KH New', 'A Tai Tham KH New WF', 'Noto Sans Tai Tham', 'Noto Sans Tai Tham WF', serif;
    font-size: 1.4em;
	}



#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	font-size: 150px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: 'Hariphunchai', 'A Tai Tham KH New WF', 'Noto Sans Tai Tham',  serif;
	background-color: white;
	}

.linkHighlight {
	font-size: 120%;
	}
/*
.ex:before {
    content: attr(lang);
    font-size: 50%;
    color: #aaa;
    vertical-align: top;
    }
*/

.codepoint bdi[lang|='nod'] {
    color: black;
    font-size: 2em;
    margin-inline: .5rem;
}




