@font-face {
    font-family: 'CR_Insom_LannaWF';
    src: url('../../shared/webfonts/cr_insom_lanna-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Payap Lanna WF';
    src: url('../../shared/webfonts/payaplanna-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Tai Tham WF';
    src: url('../../shared/webfonts/notosanstaitham-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Hariphunchai WF';
    src: url('../../shared/webfonts/hariphunchai4-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'A Tai Tham KH New WF';
    src: url('../../shared/webfonts/a_tai_tham_kh_new-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=nod] { font-family: CR_Insom_LannaWF, 'Hariphunchai WF', 'Payap Lanna WF', "Lamphun WF", serif; font-size:3rem; line-height: 1.4; }
[lang=kkh] { font-family: "A Tai Tham KH New WF", serif; font-size: 100%; }

.rb { font-family: CR_Insom_LannaWF, 'Hariphunchai WF', 'Payap Lanna WF', "Lamphun WF"; }




#freeText {
	font-size: 400%;
	font-family: CR_Insom_LannaWF, 'Hariphunchai WF', 'Payap Lanna WF', "Lamphun WF", serif;
    text-align: start;
	line-height: 1.6;
	}
@media print { #freeText { font-size: 18px; } }






/* Examples */
.charExample .ex {
    font-size:300%;
    line-height: 1.4;
    }
.charExample.inline .ex {
    font-size: 200%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
    font-size: 300%;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:500%;
    line-height:.6;
    }

/* Codepoints in text */
.codepoint span[lang], .codepoint bdi[lang] {
    color: black;
    font-size: 3rem;
    margin-inline: .5rem;
	}



/* Map tweaks */
.map .charExample .ex {
    font-size: 3rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	clear: both;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 3rem;
    margin-inline-end: 1rem;
    line-height: 1;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 3rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
/*#consonant_mappings .mapItem .posn { display: none; }*/

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 3rem;
	}





/* Sequence tables */
.sequenceTable.breakdown {
   margin-inline-start: calc(7.5% + 5.2rem);
   margin-block-start: -.7rem;
    }
.sequenceTable .ex {
    font-size: 2.4em;
    line-height: 1;
    }

















