@font-face {
    font-family: 'CR_Insom_LannaWF';
    src: url('../../shared/webfonts/cr_insom_lanna-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Payap Lanna WF';
    src: url('../../shared/webfonts/payaplanna-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Tai Tham WF';
    src: url('../../shared/webfonts/notosanstaitham-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Hariphunchai WF';
    src: url('../../shared/webfonts/hariphunchai4-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'A Tai Tham KH New WF';
    src: url('../../shared/webfonts/a_tai_tham_kh_new-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=nod] { font-family: CR_Insom_LannaWF, 'Hariphunchai WF', 'Payap Lanna WF', "Lamphun WF", serif; font-size:3rem; line-height: 1.4; }
[lang=kkh] { font-family: "A Tai Tham KH New WF", serif; font-size: 100%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 400%;
	font-family: CR_Insom_LannaWF, 'Hariphunchai WF', 'Payap Lanna WF', "Lamphun WF", serif;
    text-align: start;
	line-height: 1.6;
	}





/*.tbd { color: blue; }

:lang(nod) { font-family: 'Hariphunchai WF', 'Payap Lanna WF', "Lamphun WF", serif; font-size:3rem; line-height: 1.4; }*/


.large[lang=nod] { font-size: 500%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }



.listItem[lang] {
    font-size: 300%;
    }
.codepoint span[lang=nod], .codepoint bdi[lang=nod] {
    color: black;
    font-size: 2.5rem;
    }



.mapItem .shaping .codepoint bdi[lang] {
    color: black;
    font-size: 3rem;
    margin-inline: .5rem;
}

.mapItem .codepoint span[lang], .mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 3rem;
    /* margin-inline: 1rem; */
    margin-inline-end: 1rem;
    line-height: 1;
}






.useBlockExamples .charExample .ex {
    font-size:300%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 300%;
    }


.vowelSignExample bdi {
    font-size:600%;
    line-height:.6;
    }




.map .charExample .ex {
    font-size: 2.5rem;
    }
.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 3;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    text-align: end;
    }
.mapItem example {
    line-height: 3;
    }
.shaping bdi {
    margin-inline: .5rem;
    font-size: 2rem;
    }
.shaping > bdi::before {
    content: '\200D';
    }
.shaping > bdi::after {
    content: '\200D';
    }
.shaping > bdi:first-of-type::before {
    content: '\200D';
    }
.shaping > bdi:first-of-type::after {
    content: '';
    }
.shaping > bdi:last-of-type::before {
    content: '';
    }
.shaping > bdi:last-of-type::after {
    content: '\200D';
    }


