@font-face {
    font-family: 'Noto Serif Lao WF';
    src: url('../../shared/webfonts/notoseriflao-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Lao WF';
    src: url('../../shared/webfonts/notosanslao-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Lao Looped WF';
    src: url('../../shared/webfonts/notosanslaolooped-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=lo] {
    font-family: 'Noto Serif Lao WF', serif;
    font-size: 1.2em; /* this sets the size relative to the Latin text */
    }

@media print { 
    #freeText { 
        font-size: 18px;
        }
    }



#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Lao WF', serif;
	text-align: start;
    line-height: 1.4;
	}





.large .ex { 
    font-size: 300%; 
    margin-top: .5em; 
    margin-bottom: 0.5em; 
    line-height: 1;
    }
.loc {
    font-family: gentiumpluswf;
    }







.useBlockExamples .charExample .ex {
    font-size: 2.4em;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4em;
    }


.summaryBox .listItem {
    line-height: 3rem;
    }



.listPair .listMeaning { font-family: ExtendedLatinWF; }

