@font-face {
	font-family: 'Noto Sans Lao WF';
	src: 	url('../../shared/webfonts/notosanslao-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Lao WF';
	src: 	url('../../shared/webfonts/notoseriflao-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}

:lang(lo) {
	font-family: "Noto Serif Lao WF", "Saysettha OT", "Noto Sans Lao WF", "Noto Serif Lao WF", "Lao Sans Pro", "Noto Sans Lao", "Lao MN", "Lao Sangam MN", Dokchampa, sans-serif;
	font-size: 20px;
}
#index td {
	font-family: "Saysettha OT", "Noto Sans Lao WF", "Noto Serif Lao WF", "Lao Sans Pro", "Noto Sans Lao", "Lao MN", "Lao Sangam MN", Dokchampa, serif;
	font-size: 26px;
	padding: 16px;
	text-align: left;
}

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Noto Serif Lao WF", "Saysettha OT", "Lao Sans Pro", "Noto Sans Lao WF", "Lao MN", "Lao Sangam MN", Dokchampa, sans-serif;
	background-color: white;
	}
