@font-face {
    font-family: 'Noto Serif Tamil WF';
    src: url('../../shared/webfonts/notoseriftamil-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Tamil WF';
    src: url('../../shared/webfonts/notosanstamil-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=ta] { font-family: 'Noto Serif Tamil WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 24px;
	font-family: 'Noto Serif Tamil WF', serif;
	text-align: start;
	line-height: 1.6;
	}






.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.iso15919 { font-family: gentiumpluswf; }
#vowelchart table { margin: 0; width: 100%; font-size: 70%; }
.allophone { color: #ccc; }
.ipa.allophone::before { content: '('; color: #ccc; }
.ipa.allophone::after { content: ')'; color: #ccc; }
.breakpoint {border-left: 1px solid #9391DA; }



.useBlockExamples .charExample .ex {
    font-size: 2rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }











