@font-face {
    font-family: 'Noto Sans Batak WF';
    src: url('../../shared/webfonts/notosansbatak-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosansbatak-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=btk] { 
    font-family: "Noto Sans Batak WF"; 
    font-size: 140%;
    }



#freeText {
	font-size: 28px;
	font-family: "Noto Sans Batak WF", serif;
	text-align: start;
    line-height: 2;
	}

@media print { #freeText { font-size: 18px; } }




.large .ex { 
    font-size: 300%;
    margin-block-start: .5em;
    margin-block-end: 0.5em;
    line-height: 1;
    }	



.useBlockExamples .charExample .ex {
    font-size: 3rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }







