@font-face {
    font-family: 'Noto Sans Batak WF';
    src: url('../../shared/webfonts/notosansbatak-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Old Noto Sans Batak WF';
    src: url('../../shared/webfonts/notosansbatak-regular-webfontOLD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=btk] { 
    font-family: "Noto Sans Batak WF"; 
    font-size: 140%;
    }

.rb { font-family: 'this WF'; }



#freeText {
	font-size: 28px;
	font-family: "Noto Sans Batak WF", serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }



/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 1.2;
    }
.charExample.inline .ex {
    font-size: 200%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 4rem;
	}

/* .mapItem .phone + div { width: 100%; }  this can be removed once all pages migrate */
#consonant_mappings .mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}









h5 {
    margin-inline-start: 7.5%;
    margin-block-end: 0;
    }

.mapItemX .posn { display: none; }


.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }

