@font-face {
	font-family: 'Noto Serif Tibetan WF';
	src: url('../../shared/webfonts/notoseriftibetan-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}
/*@font-face {
	font-family: 'Noto Sans Tibetan WF';
	src: 	local('Noto Sans Tibetan'),
			url('../../shared/webfonts/notosanstibetan-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notosanstibetan-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}*/



[lang=bo] { 
	font-family: 'Noto Serif Tibetan WF', serif; 
	font-size: 140%;
    line-height: 3rem;
	}

@media print { #freeText { font-size: 18px; } }





#freeText {
	font-size: 24px;
	font-family: 'Noto Serif Tibetan WF', serif;
	text-align: start;
	line-height: 2;
	}





.cdHeader [lang=bo] {
    line-height: 1;
    }
.large .ex { 
	font-size: 300%; 
	margin-top: .5em; 
	margin-bottom: 0.5em; 
	line-height: 1; 
	}
figure .ex {
	font-size: 160%;
	line-height: 2;
	}





.listItem[lang] {
    line-height: 2;
    padding-block-start: 1rem;
    }
#aspirated .listItem[lang] {
    line-height: 2.5;
    padding-block-start: 1.4rem;
    }




.useBlockExamples .charExample .ex {
    font-size: 2rem;
    line-height: 1.2;
    display: inline-block;
    padding-block-start: .5em;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




/* highlights for the panels */
#superscript .listItem.highlight, #subscript .listItem.highlight {
    color: #aaa;
    }

/*
.useBlockExamples .charExample .ex {
    font-size: 2.2rem;
    line-height: 1.6;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }
*/

.useBlockExamples .mapItem .charExample .ex {
    font-size: 1.4rem;
    }



.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 0;
    }
.mapItem .ipa {
    hyphens: none;
    }
.mapItem div.col1 {
    flex: 1;
    }
.mapItem div.col2 {
    flex: 1;
    }
.mapItem div.col3 {
    flex: 1;
    }
.mapItem.single div.col1 {
    flex: 2;
    }
.mapItem.single div.col2 {
    flex: 5;
    }
.mapItem.single div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }
.mapItem p.glyphs {
    margin-inline-start: .5rem;
    margin-block-end: 0;
    }
.mapItem p.example {
    margin-inline-start: 1rem;
    margin-block-start: 0;
    font-size: 80%;
    margin-block-end: 1.5rem;
    }



