@font-face {
    font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
    url('../../shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: url('../../shared/webfonts/notonastaliqurdu-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notonastaliqurdu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 38px;
	font-family: 'Scheherazade WF', serif;
	text-align: right;
	line-height: 1.4;
	}
@media print { #freeText { font-size: 24px; } }
[lang=ar], [lang=fa] { font-family: 'Scheherazade WF', serif; font-size: 200%; }
[lang=ur] { font-family: 'Noto Nastaliq Urdu WF', serif; font-size: 150%;  }
.large[lang=ar], .large[lang=fa] { font-size: 400%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.large[lang=ur] {font-size: 300%; text-align: center; line-height: 1; margin-top: .75em; margin-bottom: .5em; }
.medium[lang=ar], .large[lang=fa] { font-size: 280%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.counter_style_comp { border-collapse: collapse; }
.counter_style_comp th { border: 0; line-height: 1; text-align:  start; }
.counter_style_comp td { border-color: #eee; }
.mapItem .charExample span[lang] { font-size: 200%; }
