@font-face {
	font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'webfont';
    src: url('../../shared/webfonts/Alkalami-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 48px;
	font-family: webfont, serif;
    line-height: 1.6;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ha] { font-family: webfont, serif; font-size: 150%; }
[lang=ha-x-hafs] { font-family: "Scheherazade WF", serif; font-size: 150%; }
.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.medium .ex { font-size: 200%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.listTransc { font-family: gentiumpluswf; }
