@font-face {
    font-family: 'Noto Sans Cherokee WF';
    src: local('Noto Sans Cherokee'),
         url('../../shared/webfonts/notosanscherokee-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=chr] { font-family: 'Noto Sans Cherokee WF', serif; font-size: 140%; }



#freeText, #freeText2 {
	font-size: 24px;
	font-family: 'Noto Sans Cherokee WF', serif;
    line-height: 1.4;
	}


@media print { #freeText, #freeText2 { font-size: 18px; } }


.large .ex { font-size: 300%; }
details figure { margin-left: 0; margin-right: 0; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







