@font-face {
    font-family: 'Noto Sans Cherokee WF';
    src: local('Noto Sans Cherokee'),
         url('../../shared/webfonts/notosanscherokee-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosanscherokee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText, #freeText2 {
	font-size: 24px;
	font-family: 'Noto Sans Cherokee WF', serif;
    line-height: 1.4;
	}
@media print { #freeText, #freeText2 { font-size: 18px; } }
[lang=chr] { font-family: 'Noto Sans Cherokee WF', serif; font-size: 140%; }
.large .ex { font-size: 300%; }
details figure { margin-left: 0; margin-right: 0; }
