@font-face {
    font-family: 'Noto Sans Cherokee WF';
    src: local("Noto Sans Cherokee WF"),
		url('../../shared/webfonts/notosanscherokee-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


:lang(chr) { font-family: "Noto Sans Cherokee WF", "Plantagenet Cherokee", serif; } 



	
#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Noto Sans Cherokee WF", "Plantagenet Cherokee",  serif;
	background-color: white;
	}

.linkHighlight {
	font-size: 120%;
	}
