@font-face {
    font-family: 'webfont';
    src: url('../../shared/webfonts/notoseriftamil-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoseriftamil-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: webfont, serif;
	text-align: start;
	line-height: 1.6;
	}

@media print { #freeText { font-size: 18px; } }

[lang=ta] { font-family: webfont, serif; font-size: 140%; }
.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.iso15919 { font-family: gentiumpluswf; }
#vowelchart table { margin: 0; width: 100%; font-size: 70%; }
.allophone { color: #ccc; }
.ipa.allophone::before { content: '('; color: #ccc; }
.ipa.allophone::after { content: ')'; color: #ccc; }
.breakpoint {border-left: 1px solid #9391DA; }
