@font-face {
    font-family: 'eastern';
    src: url('../../shared/webfonts/notosanssyriaceastern-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'estrangela';
    src: url('../../shared/webfonts/notosanssyriacestrangela-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'western';
    src: url('../../shared/webfonts/notosanssyriacwestern-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Adiabene WF';
    src: url('../../shared/webfonts/syrcomadiabene.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Estrangela Edessa WF';
    src: url('../../shared/webfonts/syrcomedessa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Serta Jerusalem WF';
    src: url('../../shared/webfonts/syrcomjerusalem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#eastern {
	font-size: 40px;
	font-family: 'Adiabene WF', eastern, serif;
	text-align: start;
    line-height: 1.4;
	}
#estrangela {
	font-size: 40px;
	font-family: 'Estrangela Edessa WF', estrangela, serif;
	text-align: start;
    line-height: 1.4;
	}
#western {
	font-size: 40px;
	font-family: 'Serta Jerusalem WF', western, serif;
	text-align: start;
    line-height: 1.4;
	}


[lang=syr-syrc] { font-family: eastern, serif; font-size: 140%; }
[lang=syr-syrn] { font-family: eastern, serif; font-size: 140%; }
[lang=syr-syre] { font-family: estrangela, serif; font-size: 140%; }
[lang=syr-syrj] { font-family: 'Serta Jerusalem WF', western, serif; font-size: 180%; }

@media print { #eastern { font-size: 18px; } }
@media print { #estrangela { font-size: 18px; } }
@media print { #western { font-size: 18px; } }






.listItem[lang=aii], [lang=aii] {
    font-family: 'Adiabene WF', "East Syriac Ctesiphon", "East Syriac Adiabene", eastern, serif;
    font-size: 250%;
    }
.codepoint span[lang], .codepoint bdi[lang] {
  color: black;
  font-size: 2.5rem;
    }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.medium .ex { font-size: 150%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }





.useBlockExamples .charExample {
font-size: 100%;
line-height: 1;
}

.useBlockExamples .charExample.inline .ex {
font-size: 3rem;
}

.useBlockExamples .charExample .ex {
font-size: 4rem;
}

table.diacritic  {
    margin-inline: 0;
    }
table.diacritic td {
    text-align: start;
    line-height: 1;
    padding-block: 0;
    padding-inline: .5rem;
    }
table.diacritic td .ipa {
    padding-block: 0.5rem;
    display: inline-block;
    }
