@font-face {
    font-family: 'Noto Sans Syriac Eastern';
    src: url('../../shared/webfonts/notosanssyriaceastern-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Syriac Estrangela';
    src: url('../../shared/webfonts/notosanssyriacestrangela-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Syriac Western';
    src: url('../../shared/webfonts/notosanssyriacwestern-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'East Syriac Adiabene WF';
    src: url('../../shared/webfonts/syrcomadiabene.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Estrangelo Edessa WF';
    src: url('../../shared/webfonts/syrcomedessa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Serto Jerusalem WF';
    src: url('../../shared/webfonts/syrcomjerusalem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#eastern {
	font-size: 40px;
	font-family: 'East Syriac Adiabene WF';
	text-align: start;
    line-height: 1.4;
	}
#estrangelo {
	font-size: 40px;
	font-family: 'Estrangelo Edessa WF';
	text-align: start;
    line-height: 1.4;
	}
#western {
	font-size: 40px;
	font-family: 'Serto Jerusalem WF';
	text-align: start;
    line-height: 1.4;
	}


[lang=syc] { font-family: Noto Sans Syriac Estrangela, serif; font-size: 140%; }
[lang=syc-syrn] { font-family: Noto Sans Syriac Eastern, serif; font-size: 140%; }
[lang=syc-syrj] { font-family: Noto Sans Syriac Western, serif; font-size: 140%; }
[lang=syr] { font-family: 'Estrangelo Edessa WF', Noto Sans Syriac Estrangela, serif; font-size: 300%; }
[lang=syr-syrn] { font-family: 'Adiabene WF', Noto Sans Syriac Eastern, serif; font-size: 180%; }
[lang=syr-syrj] { font-family: 'Serta Jerusalem WF', Noto Sans Syriac Western, serif; font-size: 180%; }
[lang=aii] { font-family: 'Adiabene WF', "East Syriac Ctesiphon", "East Syriac Adiabene", Noto Sans Syriac Eastern, serif; font-size: 180%; color: darkorange; }

@media print { #eastern { font-size: 18px; } }
@media print { #estrangelo { font-size: 18px; } }
@media print { #Noto Sans Syriac Western { font-size: 18px; } }








.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.medium .ex { font-size: 150%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }

.listItem[lang=syr], [lang=syr] {
    font-family: 'Estrangelo Edessa WF', Noto Sans Syriac Estrangela, serif;
    font-size: 250%;
    }
.codepoint span[lang], .codepoint bdi[lang] {
  color: black;
  font-size: 2rem;
    }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.medium .ex { font-size: 150%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }





.useBlockExamples .charExample {
font-size: 100%;
line-height: 1;
}

.useBlockExamples .charExample.inline .ex {
font-size: 100%;
}

.useBlockExamples .charExample .ex {
font-size: 300%;
}




h5 {
    margin-inline-start: 7.5%;
    margin-inline-end: 30%;
    }


