@font-face {
    font-family: 'eastern';
    src: url('../../shared/webfonts/notosanssyriaceastern-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'estrangela';
    src: url('../../shared/webfonts/notosanssyriacestrangela-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'western';
    src: url('../../shared/webfonts/notosanssyriacwestern-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Adiabene WF';
    src: url('../../shared/webfonts/syrcomadiabene.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Estrangela Edessa WF';
    src: url('../../shared/webfonts/syrcomedessa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Serta Jerusalem WF';
    src: url('../../shared/webfonts/syrcomjerusalem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#eastern {
	font-size: 40px;
	font-family: 'Adiabene WF', eastern, serif;
	text-align: start;
    line-height: 1.4;
	}
#estrangela {
	font-size: 40px;
	font-family: 'Estrangela Edessa WF', estrangela, serif;
	text-align: start;
    line-height: 1.4;
	}
#western {
	font-size: 40px;
	font-family: 'Serta Jerusalem WF', western, serif;
	text-align: start;
    line-height: 1.4;
	}


[lang=tru] { font-family: 'Serta Jerusalem WF', western, serif; font-size: 180%; }
[lang=syr-syrj] { font-family: western, serif; font-size: 180%; }

[lang=syr-syrc] { font-family: eastern, serif; font-size: 140%; }
[lang=syr-syrn] { font-family: eastern, serif; font-size: 140%; }
[lang=syr-syre] { font-family: estrangela, serif; font-size: 140%; }
[lang=syr] { font-family: "Estrangela Edessa WF", estrangela, serif; font-size: 140%; }
[lang=aii] { font-family: 'Adiabene WF', "East Syriac Ctesiphon", "East Syriac Adiabene", eastern, serif; font-size: 200%; }

@media print { #eastern { font-size: 18px; } }
@media print { #estrangela { font-size: 18px; } }
@media print { #western { font-size: 18px; } }





.larger .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.medium .ex { font-size: 150%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }


.listItem[lang=tru], [lang=tru] {
    font-family: "Serta Jerusalem WF";
    font-size: 250%;
    }

.useBlockExamples .charExample {
font-size: 100%;
line-height: 1;
}

.useBlockExamples .charExample.inline .ex {
font-size: 2rem;
}

.useBlockExamples .charExample .ex {
font-size: 3rem;
}

.charExample .ex {
    line-height: 1.2;
    }






.useBlockExamples .charExample .ex {
    font-size:400%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 120%;
    }




