@font-face {
    font-family: 'Noto Sans Gurmukhi WF';
    src: url('/shared/webfonts/NotoSansGurmukhi-Regularwebfont.woff2') format('woff2'),
         url('/shared/webfonts/NotoSansGurmukhi-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: "Noto Sans Gurmukhi WF", serif;
    text-align: start;
	line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }
[lang=pa] { font-family: "Noto Sans Gurmukhi WF", serif; font-size: 150%; }
.large[lang=pa] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }
a { font-weight: 400; }
