@font-face {
    font-family: 'webfont';
    src: url('../../shared/webfonts/notoserifdevanagari-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifdevanagari-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: webfont, serif;
    line-height: 1.6;
	}

@media print { #freeText { font-size: 18px; } }

[lang=hi] { font-family: webfont, serif; font-size: 150%; }
.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.iso15919 { font-family: gentiumpluswf; }
