@font-face {
    font-family: 'Annapurna SIL WF';
    src: url('../../shared/webfonts/annapurnasil-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/annapurnasil-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Devanagari WF';
    src: url('../../shared/webfonts/notoserifdevanagari-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifdevanagari-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#freeText {
	font-size: 32px;
	font-family: 'Annapurna SIL WF', serif;
    line-height: 1.6;
	}

@media print { 
	#freeText { font-size: 18px; } 
	}


[lang=ks] { font-family: 'Annapurna SIL WF', serif; font-size: 150%; }

.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }

.iso15919 { font-family: gentiumpluswf; }

.charExample {
	margin: .3em;
	font-size: 120%;
	display: block;
	text-align: center;
	}
