@font-face {
    font-family: 'webfont';
    src: url('/shared/webfonts/notosansnko-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansnko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: webfont, serif;
	text-align: right;
    line-height: 1.4;
	}

[lang=nqo] { font-family: webfont, serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }

@media print { #freeText { font-size: 18px; } }
