@font-face {
    font-family: 'Noto Sans Sora Sompeng WF';
    src: url('../../shared/webfonts/notosanssorasompeng-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=srb], [lang=sa] { font-family: 'Noto Sans Sora Sompeng WF', serif; font-size: 140%; }


#freeText {
	font-size: 28px;
	font-family: 'Noto Sans Sora Sompeng WF', serif;
	text-align: start;
    line-height: 2;
	}



@media print { #freeText { font-size: 18px; } }





/* optional
.listItem[lang] {
    font-size: 300%;
    }
.codepoint span[lang=nod], .codepoint bdi[lang=nod] {
    color: black;
    font-size: 3rem;
    }
*/







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }



.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }





/* FOR MOST SCRIPTS */

.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }





