@font-face {
	font-family: 'Noto Sans Bengali WF';
	src: 	local('Noto Sans Bengali'),
			url('/shared/webfonts/NotoSansBengali-Regularwebfont.woff2') format('woff2'),  
			url('/shared/webfonts/NotoSansBengali-Regularwebfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Bengali WF';
	src: 	local('Noto Serif Bengali'),
			url('/shared/webfonts/NotoSerifBengali-Regularwebfont.woff2') format('woff2'),  
			url('/shared/webfonts/NotoSerifBengali-Regularwebfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Bengali WF', serif;
	text-align: start;
    line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }
[lang=bn] { font-family: 'Noto Serif Bengali WF', SolaimanLipi, Likhan, "Bangla Sangam MN", "Shonar Bangla", "Vrinda", "Lohit Bengali", "Noto Sans Bengali", "Arial Unicode MS", sans-serif; font-size: 150%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }

.iso15919 { font-family: "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif;
font-size: 1.1em;
font-weight: 300; }
