@font-face {
    font-family: 'Noto Sans Newa WF';
    src: url('../../shared/webfonts/notosansnewa-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=new] { font-family: Noto Sans Newa WF, serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	

@media print { #freeText { font-size: 18px; } }



#freeText {
	font-size: 28px;
	font-family: Noto Sans Newa WF, serif;
	text-align: start;
    line-height: 2;
	}



.useBlockExamples .charExample .ex {
    font-size: 3rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




