@font-face {
	font-family: 'Noto Sans Miao WF';
	src: 	url('../../shared/webfonts/notosansmiao-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
    font-family: 'Shimenkan Guifan WF';
    src: url('../../shared/webfonts/shimenkanguifan-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=hmd] { font-family: 'Sapushan', 'Noto Sans Miao WF', serif; font-size: 140%; }
[lang=hmdd] { font-family: 'Shimenkan Guifan WF'; font-size: 140%; }




	
#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: 'Sapushan', 'Noto Sans Miao WF',  serif;
	background-color: white;
	}

.linkHighlight {
	font-size: 120%;
	}
