@font-face {
    font-family: 'webfont';
    src: url('/shared/webfonts/mm3-multiwf.woff2') format('woff2'),
         url('/shared/webfonts/mm3-multiwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'webfont2';
    src: url('/shared/webfonts/notosansmyanmar-regularwf.woff2') format('woff2'),
         url('/shared/webfonts/notosansmyanmar-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 26px;
	font-family: webfont, serif;
	text-align: start;
	line-height: 1.7;
	}
@media print { #freeText { font-size: 18px; } }
[lang=my] { font-family: webfont, serif; font-size: 130%; font-weight: normal; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
