@font-face {
    font-family: 'Noto Sans Thaana WF';
    src: url('../../shared/webfonts/notosansthaana-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=dv] { font-family: 'Noto Sans Thaana WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: 'Noto Sans Thaana WF', serif;
	text-align: right;
    line-height: 1.4;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1.4;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 2rem;
}


.listItem[lang] {
    font-size: 200%;
    }



.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }


