@font-face {
    font-family: 'Nokyung WF';
    src: url('../../shared/webfonts/nokyung-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/nokyung-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: "Nokyung WF", serif;
    text-align: start;
	line-height: 1.4;
	}



[lang=khb] { font-family: "Nokyung WF", serif; font-size: 150%; }
.large[lang=khb] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }


@media print { #freeText { font-size: 18px; } }
