@font-face {
	font-family: 'Noto Sans Tibetan WF';
	src: 	local('Noto Sans Tibetan'),
			url('/shared/webfonts/notosanstibetan-regular-webfont.woff2') format('woff2'),  
			url('/shared/webfonts/notosanstibetan-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: 'Noto Sans Tibetan WF', serif;
	text-align: start;
	line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }
[lang=bo] { font-family: 'Noto Sans Tibetan WF', serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
