@font-face {
	font-family: 'Noto Sans Tibetan WF';
	src: 	local('Noto Sans Tibetan'),
			url('/shared/webfonts/notosanstibetan-regular-webfont.woff2') format('woff2'),  
			url('/shared/webfonts/notosanstibetan-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Tibetan Machine Uni WF';
	src: 	local('Tibetan Machine Uni'),
			url('/shared/webfonts/TibMachUni-1.901.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

[lang='bo'] { 
	font-family: 'Tibetan Machine Uni WF', 'Noto Sans Tibetan WF', "Tibetan Machine Uni", Kokonor, "Microsoft Himalaya", sans-serif; 
	font-size: 28px; 
	}


section p, .section p { line-height: 32px; }
td.gap { width: 30px; }

.locations th { border: 1px solid #CCC; vertical-align: middle; height: 40px; }
.locations td { border: 0; vertical-align: middle; height: 40px; }
.locations td .ex { margin-left: 8px; font-size: 36px; }


#index td td { border: 0; }
#index td { line-height: 1em; }
#index td { 
	font-family: 'Tibetan Machine Uni WF', 'Noto Sans Tibetan WF', "Tibetan Machine Uni", Kokonor, "Microsoft Himalaya", sans-serif; 
	font-size: 28px; 
	padding: 8px; 
	}

#fontsetting { width: 240px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -228px; }
#fontsettingswitch { height: 150px; }

        
.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: 'Tibetan Machine Uni WF', 'Noto Sans Tibetan WF', "Tibetan Machine Uni", Kokonor, "Microsoft Himalaya", sans-serif;
	background-color: white;
}
