@font-face {
	font-family: 'Noto Sans Bengali WF';
	src: 	local('Noto Sans Bengali'),
			url('../../shared/webfonts/NotoSansBengali-Regularwebfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Bengali WF';
	src: 	local('Noto Serif Bengali'),
			url('../../shared/webfonts/notoserifbengali-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}

#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Bengali WF', serif;
	text-align: start;
    line-height: 1.4;
	}


[lang=bn] { font-family: 'Noto Serif Bengali WF', SolaimanLipi, Likhan, "Bangla Sangam MN", "Shonar Bangla", "Vrinda", "Lohit Bengali", "Noto Sans Bengali", "Arial Unicode MS", sans-serif; font-size: 150%; }


@media print { #freeText { font-size: 18px; } }





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }

.iso15919 { font-family: "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif;
font-size: 1.1em;
font-weight: 300; }





.useBlockExamples .charExample .ex {
    font-size: 2.5rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }


.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }


