@font-face {
    font-family: 'Noto Sans Adlam WF';
    src:	local('Noto Sans Adlam'),
			url('../../shared/webfonts/notosansadlam-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Sans Adlam Unjoined WF';
	src: 	local('Noto Sans Adlam Unjoined'),
			url('../../shared/webfonts/notosansadlamunjoined-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}


[lang=fuf] {
    font-family: "Noto Sans Adlam WF", 'Ebrima', serif;
    font-size: 140%;
    }

.rb { font-family: 'Noto Sans Adlam WF'; }

#freeText {
	font-size: 28px;
	font-family: "Noto Sans Adlam WF", serif;
	text-align: start;
    line-height: 2;
	}
@media print { 
    #freeText { font-size: 18px; }
    }

.unjoined .listItem {
	font-family: 'Noto Sans Adlam Unjoined WF'
	}







/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.charExample.inline .ex {
    font-size: 200%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 1.6;
    }


/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.mapItem .ipa {
    line-height: 2;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .posn {
	min-width: 1rem;
	}
.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
/*#consonant_mappings .mapItem .posn { display: none; }*/

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}








.sequenceTable.breakdown {
    margin-inline-start: calc(32% + 5.6rem);
    display: block;
    margin-block-start: -.7rem;
    }














