@font-face {
    font-family: 'Noto Sans Adlam WF';
    src:	local('Noto Sans Adlam'),
			url('../../shared/webfonts/notosansadlam-regular-webfont.woff2') format('woff2'),
         	url('../../shared/webfonts/notosansadlam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Sans Adlam Unjoined WF';
	src: 	local('Noto Sans Adlam Unjoined'),
			url('../../shared/webfonts/notosansadlamunjoined-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notosansadlamunjoined-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}


[lang=fuf] {
    font-family: "Noto Sans Adlam WF", 'Ebrima', serif;
    font-size: 140%;
    }



#freeText {
	font-size: 28px;
	font-family: "Noto Sans Adlam WF", serif;
	text-align: start;
    line-height: 2;
	}




.large .ex {
    font-size: 300%;
    margin-top: .5em;
    margin-bottom: 0.5em;
    line-height: 1;
    }	
.medium {
    font-size: 150%;
    margin-top: .5em;
    margin-bottom: 0.5em;
    line-height: 1.4;
    }	
/*.small { font-size: 120%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.4; }	*/


.unjoined .listItem {
	font-family: 'Noto Sans Adlam Unjoined WF'
	}


@media print { 
    #freeText { font-size: 18px; }
    }








.useBlockExamples .charExample .ex {
    font-size:250%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







