@font-face {
    font-family: 'NotoSerifKhmerWF';
    src: url('../../shared/webfonts/notoserifkhmer-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'KhmerOSBattambangWF';
    src: url('../../shared/webfonts/khmerosbbangw.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: 'NotoSerifKhmerWF';
	text-align: start;
	line-height:1.7;
	}

[lang=km] { 
    font-family: "NotoSerifKhmerWF"; 
    font-size: 130%;
    }

.listItem[lang=km] {
    font-size: 200%;
    line-height: 2;
    }



.charExample .ex {
    font-size: 2rem;
    }

:lang(km-x-round) {  font-family:"Khmer Mool"; font-size: 140%; }

.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
	
@media print { #freeText { font-size: 18px; } }




.useBlockExamples .charExample .ex {
    font-size: 2.2rem;
    line-height: 1.6;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }


.useBlockExamples .mapItem .charExample .ex {
    font-size: 1.4rem;
    }



.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 0;
    }
.mapItem .ipa {
    hyphens: none;
    }
.mapItem div.col1 {
    flex: 1;
    }
.mapItem div.col2 {
    flex: 1;
    }
.mapItem div.col3 {
    flex: 1;
    }
.mapItem.single div.col1 {
    flex: 2;
    }
.mapItem.single div.col2 {
    flex: 5;
    }
.mapItem.single div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }
.mapItem p.glyphs {
    margin-inline-start: .5rem;
    margin-block-end: 0;
    }
.mapItem p.example {
    margin-inline-start: 1rem;
    margin-block-start: 0;
    font-size: 80%;
    margin-block-end: 1.5rem;
    }
