@font-face {
	font-family: 'Noto Sans Javanese WF';
	src: 	local('Noto Sans Javanese'),
			url('../../shared/webfonts/notosansjavanese-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notosansjavanese-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	
[lang|='jv'] {
	font-family: Yogyakarta, 'Tuladha Jejeg', Yogya, 'Noto Sans Javanese WF', serif;
	font-size: 24px;
	}
	
#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: Yogyakarta, 'Tuladha Jejeg', Yogya, 'Noto Sans Javanese WF', serif;
	background-color: white;
	}

.linkHighlight {
	font-size: 120%;
	}
