@font-face {
    font-family: 'Noto Sans Sundanese WF';
    src: url('../../shared/webfonts/notosanssundanese-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Sundanese Unicode WF';
    src: url('../../shared/webfonts/sundaneseunicode-2.0-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=su] { font-family: 'Sundanese Unicode WF', 'Sundanese Unicode 2013 WF', 'Noto Sans Sundanese WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: 'Sundanese Unicode WF', serif;
	text-align: start;
	line-height: 2.5;
	}



.rb {
    font-size: 2rem;
    }




.useBlockExamples .charExample .ex {
    font-size:300%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 170%;
    }


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }
