@font-face {
    font-family: 'Noto Sans Sundanese WF';
    src: url('../../shared/webfonts/notosanssundanese-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Sundanese Unicode WF';
    src: url('../../shared/webfonts/sundaneseunicode-2.0-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=su] { font-family: 'Noto Sans Sundanese WF', serif; font-size: 140%; }

.rb { font-size: 2rem; }




#freeText {
	font-size: 28px;
	font-family: 'Sundanese Unicode WF', serif;
	text-align: start;
	line-height: 2.5;
	}
@media print { #freeText { font-size: 18px; } }






/* Examples */
.charExample .ex {
    font-size:150%;
    line-height: 1.6;
    }
.charExample.inline .ex {
    font-size: 120%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 2rem;
    margin-inline-end: 1rem;
    line-height: 1.6;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 3rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
#consonant_mappingsX .mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}






/* Sequence tables */
.sequenceTable.breakdown {
   margin-inline-start: calc(7.5% + 5.2rem);
   margin-block-start: -.7rem;
    }
.sequenceTable .ex {
    font-size: 1.6em;
    line-height: 1;
    }























