@font-face {
    font-family: 'Satisar Sharada WF';
    src: url('../../shared/webfonts/satisar-sharada-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Sharada WF';
    src: url('../../shared/webfonts/NotoSansSharada-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=ks] { font-family: 'Satisar Sharada WF', 'Noto Sans Sharada WF', serif; font-size: 140%; }

.rb { font-family: 'Satisar Sharada WF', 'Noto Sans Sharada WF'; }


#freeText {
	font-size: 36px;
	font-family: 'Satisar Sharada WF', "Noto Sans Sharada WF", serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }






/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 1.4;
    }
.charExample.inline .ex {
    font-size: 140%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 2rem;
    margin-inline-end: 1rem;
    line-height: 1.6;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 4rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
#consonant_mappings .mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}












