@font-face {
    font-family: 'Noto Serif Sinhala WF';
    src: url('../../shared/webfonts/notoserifsinhala-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}

[lang=si] { 
    font-family: "Noto Serif Sinhala WF", serif; font-size: 100%;
    font-size: 1.4em; /* this sets the size relative to the Latin text */
    }

#index td { 
	font-family: "Noto Serif Sinhala WF", "Sinhala Sangam MN", "Iskoola Pota", serif; 
	font-size: 26px; 
	padding: 8px;  
	direction: rtl; 
	text-align: right; 
	line-height: 1.4em; 
	}

.charimg { 
	font-size: 130px; 
	min-width: 190px; 
	min-height: 190px; 
	text-align: center; 
	vertical-align: middle; 
	line-height: 190px; 
	font-family: "Noto Serif Sinhala WF", "Sinhala Sangam MN", "Iskoola Pota", serif; 
	background-color: white; 
	}

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 150px; }
#fontsetting p { margin-right: 20px; }

.sidebar {
	background-color: white;
	padding-left: 2em;
	border-bottom-left-radius: 10px;
	}


blockquote {
    margin-inline: 4em;
    }