@font-face {
    font-family: 'Noto Sans Gujarati WF';
    src: url('../../shared/webfonts/notosansgujarati-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Gujarati WF';
	src: url('../../shared/webfonts/notoserifgujarati-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}


[lang=gu] { font-family: "Gujarati WF", 'Gujarati WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: "Noto Serif Gujarati WF", serif;
	text-align: start;
    line-height: 2;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	





.useBlockExamples .charExample .ex {
    font-size: 3.5rem;
    line-height: 1.5;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




