@font-face {
    font-family: 'Noto Lisu WF';
    src: url('../../shared/webfonts/NotoSansLisu-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansLisu-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=lis] { font-family: "Noto Lisu WF", serif; font-size: 140%; }


#freeText {
	font-size: 28px;
	font-family: "Noto Lisu WF", serif;
	text-align: start;
    line-height: 2;
	}
    
    
@media print { #freeText { font-size: 18px; } }



.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	





.useBlockExamples .charExample .ex {
    font-size: 2rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




