@font-face {
    font-family: 'Noto Lisu WF';
    src: url('../../shared/webfonts/NotoSansLisu-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansLisu-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: "Noto Lisu WF", serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }
[lang=lis] { font-family: "Noto Lisu WF", serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	
