@font-face {
    font-family: 'Noto Sans Bassa Vah WF';
    src: url('../../shared/webfonts/notosansbassavah-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=bsq] { font-family: "Noto Sans Light", serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: "Gentium Plus WF", serif;
	text-align: start;
    line-height: 2;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	





.rb { 
    font-size: 2rem;
    font-family: 'Noto Sans';
    }

.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}






