@font-face {
    font-family: 'Gentium Plus WF';
    src: url('../../shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=ha] { font-family: "Gentium Plus WF"; font-size: 120%; }

.rb { font-family: 'Gentium Plus WF'; }






#freeText {
	font-size: 24px;
	font-family: "Gentium Plus WF";
    line-height: 1.6;
	}
@media print { #freeText { font-size: 18px; } }






/* Examples */
.charExample .ex {
    font-size:160%;
    line-height: 1.4;
    }
.charExample.inline .ex {
    font-size: 160%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 2rem;
    margin-inline-end: 1rem;
    line-height: 1.4;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 4rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
.mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}



























