@font-face {
    font-family: 'Gentium Plus WF';
    src: url('../../shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/gentiumplus-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: "Gentium Plus WF";
    line-height: 1.6;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ha] { font-family: "Gentium Plus WF"; font-size: 120%; }
.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}



.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }



.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    flex: 1;
    }
.mapItem .ipa {
    hyphens: none;
    }
.mapItem example {
    line-height: 3;
    }




