@font-face {
    font-family: 'Noto Sans Osage WF';
    src: url('../../shared/webfonts/notosansosage-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosansosage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


#freeText {
	font-size: 28px;
	font-family: 'Noto Sans Osage WF', serif;
	text-align: start;
    line-height: 2;
	}

@media print { #freeText { font-size: 18px; } }

[lang=osa] { font-family: 'Noto Sans Osage WF', serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	

.charExample .trans { display: none; }