@font-face {
    font-family: 'Noto Sans Osage WF';
    src: url('../../shared/webfonts/notosansosage-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=osa] { font-family: 'Noto Sans Osage WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: 'Noto Sans Osage WF', serif;
	text-align: start;
    line-height: 2;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	

.charExample .trans { display: none; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}





