@font-face {
    font-family: 'Noto Serif Mongolian WF';
    src: url('../../shared/webfonts/notosansmongolian-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=mn] { font-family: "Noto Serif Mongolian WF", "Mongolian Baiti", "Mongolian Writing", serif; font-size: 150%; writing-mode:vertical-lr; }

@media print { #freeText { font-size: 18px; } }



#freeText {
	font-size: 32px;
	font-family: "Noto Serif Mongolian WF", serif;
    text-align: start;
	line-height: 1.4;
	}




.large[lang=mn] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }
figure div[lang=mn] { writing-mode: vertical-lr; font-size: 200%; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; width: 100%;}

.syllables td {
    border: 0;
    }





.useBlockExamples .mn_examples  {
    /* wraps example words to make everything vertical - desc only, not char notes */
    writing-mode: vertical-lr;
    }

.useBlockExamples .mn_examples .charExample {
    /* wraps example words to make everything vertical - desc only, not char notes */
    line-height: 2;
    text-align: start;
    }

.useBlockExamples .mn_examples .charExample .ipa, .useBlockExamples .mn_examples .charExample .transc, .useBlockExamples .mn_examples .charExample .meaning {
    /* makes the IPA horizontal, for ease of reading */
    writing-mode: horizontal-tb;
    margin-inline: 1rem;
    }

.useBlockExamples ul li.ipa {
    /* makes the IPA horizontal, for ease of reading */
    writing-mode: horizontal-tb;
    margin-inline: 1rem;
    color: red;
    }










