@font-face {
    font-family: 'eastern';
    src: url('/shared/webfonts/notosanssyriaceastern-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanssyriaceastern-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'estrangelo';
    src: url('/shared/webfonts/notosanssyriacestrangela-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanssyriacestrangela-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'western';
    src: url('/shared/webfonts/notosanssyriacwestern-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanssyriacwestern-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Adiabene WF';
    src: url('/shared/webfonts/syrcomadiabene.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Estrangela Edessa WF';
    src: url('/shared/webfonts/syrcomedessa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Serta Jerusalem WF';
    src: url('/shared/webfonts/syrcomjerusalem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#eastern {
	font-size: 40px;
	font-family: 'Adiabene WF', eastern, serif;
	text-align: start;
    line-height: 1.4;
	}
#estrangelo {
	font-size: 40px;
	font-family: 'Estrangela Edessa WF', estrangelo, serif;
	text-align: start;
    line-height: 1.4;
	}
#western {
	font-size: 40px;
	font-family: 'Serta Jerusalem WF', western, serif;
	text-align: start;
    line-height: 1.4;
	}
@media print { #eastern { font-size: 18px; } }
@media print { #estrangelo { font-size: 18px; } }
@media print { #western { font-size: 18px; } }
[lang=syc] { font-family: estrangelo, serif; font-size: 140%; }
[lang=syc-syrn] { font-family: eastern, serif; font-size: 140%; }
[lang=syc-syrj] { font-family: western, serif; font-size: 140%; }
[lang=syr] { font-family: 'Estrangela Edessa WF', estrangelo, serif; font-size: 180%; }
[lang=syr-syrn] { font-family: 'Adiabene WF', eastern, serif; font-size: 180%; }
[lang=syr-syrj] { font-family: 'Serta Jerusalem WF', western, serif; font-size: 180%; }
[lang=aii] { font-family: 'Adiabene WF', "East Syriac Ctesiphon", "East Syriac Adiabene", eastern, serif; font-size: 180%; color: darkorange; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.medium .ex { font-size: 150%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
