@font-face {
    font-family: 'Aksara Bali WF';
    src: local('Aksara Bali'),
         url('../../shared/webfonts/AksaraBaliwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/AksaraBaliwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Balinese WF';
	src: 	local('Noto Serif Balinese'),
			url('../../shared/webfonts/notoserifbalinese-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notoserifbalinese-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	
[lang|='ban'] {
	font-family: 'noto serif balinese wf', 'noto serif balinese', serif;
	}
	
#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Aksara Bali WF", "Noto Sans Balinese WF",  serif;
	background-color: white;
	}
/*
.notes {
background-color: aqua;
min-height: 3em;
border: 2px solid red;
}
*/