@font-face {
    font-family: 'Noto Serif Ethiopic WF';
    src: url('/shared/webfonts/NotoSansEthiopic-Regularwebfont.woff2') format('woff2'),
         url('/shared/webfonts/NotoSansEthiopic-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: webfont, serif;
	text-align: start;
	line-height: 1.6;
	}
@media print { #freeText { font-size: 18px; } }
[lang=am] { font-family: "Noto Serif Ethiopic WF", serif; font-size: 140%; }
.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
#ethiTable td { text-align: center; vertical-align: middle; }
.blank { background-color: antiquewhite; }
.bilab { color: teal; }
.addit .ex, .addit { color: coral; }
.ext .ex, .ext { color: magenta; }
