@font-face {
    font-family: 'Noto Serif Ethiopic WF';
    src: url('../../shared/webfonts/notoserifethiopic-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Ethiopic WF';
    src: url('../../shared/webfonts/notosansethiopic-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
	
[lang|="am"], [lang|="gez"], [lang|="ti"]  {
	font-family: "Nyala", "Kefa", "Noto Sans Ethiopic", "Noto Serif Ethiopic WF", "Droid Sans Ethiopic", sans-serif;
	font-size: 20px;
	}
#index td {
	font-family: "Nyala", "Kefa", "Noto Sans Ethiopic", "Noto Sans Ethiopic WF", "Droid Sans Ethiopic", sans-serif;
	font-size: 28px;
	padding: 16px;
	text-align: left;
	}
	
#fontsetting {
	width: 270px;
	}
#fontsetting.open {
	right: 0px;
	}
#fontsetting.closed {
	right: -258px;
	}
#fontsettingswitch {
	height: 130px;
	}
	
	
.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Nyala", "Kefa", "Noto Sans Ethiopic", "Noto Sans Ethiopic WF", "Droid Sans Ethiopic", sans-serif;
	background-color: white;
	}
