@font-face {
	font-family: 'Noto Sans Thaana WF';
	src: 	local('Noto Sans Thaana'),
			url('/shared/webfonts/notosansthaana-regular-webfont.woff2') format('woff2'),  
			url('/shared/webfonts/notosansthaana-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

[lang|="dv"] { font-family: "Noto Sans Thaana WF", "Arial Unicode MS", serif; font-size: 150%; }

#index td { font-family: "Noto Sans Thaana WF", "Arial Unicode MS", serif; font-size: 26px; padding: 16px; text-align:left;  }



#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }


.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Noto Sans Thaana WF", "Arial Unicode MS", serif;
	background-color: white;
}


