body { font-size: 15.5px; }
#fontlist p { margin-top: 10px; margin-bottom: 0; margin-right: 7.5%; clear: both; }
#fontlist .fontname {  font-size: 140%; margin-left: 20px; width: 80%; }
#fontlist .altfontname {  font-size: 140%;  }
#fontlist p img.rtl { float: right;   }
#fontlist p.rtl { margin-right: 7.5%; margin-left: 7.5%; }
#fontlist p[dir="rtl"] .fontname { margin-right: 20px; margin-left: 30px; }
#fontlist .size { text-align: right; color: #CCC; font-size: 80%; }
#fontlist h2 { margin-top: 4em; clear:both; }
#fontlist section { margin-bottom: 100px; }
#fontlist .info { margin-left: 20px; color:#999;  }
#fontlist .test { margin-left: 20px; margin-top: 5px; color:#999;  cursor:pointer; border: 1px solid #CCC; border-radius: 5px; -moz-border-radius: 5px; padding: 1px 2px; font-size: 90%; }


.trigger { color: teal; cursor: pointer; }
.sample { 
    font-size: 45px;
    white-space: nowrap;
    color: black;
    overflow: hidden;
    /*width: 80%;*/
    margin-inline: 7.5%;
    line-height: 1;
    text-align: start;
    }
.sample imgX { width: 1000px; }
.fontItem { margin-block-end: 0; width: 80%; text-align: start; }
.fontlist { font-size: 80%; }
.infoIcon { color: tan; font-size: 80%; margin-inline-start: 1em; cursor: pointer; }
.text {  line-height: 2; }
b {
    font-size: 1.2em;
    color: #aaa;
    margin-right: .25em;
	font-weight: bold;
	font-style: italic;
	border: 1px solid #ccc;
	padding: 0 4px;
	border-radius: 5px;
	}



#testarea { font-size: 16px; position: fixed; bottom: 20px; right: 20px; padding: 10px; width: 80%; background-color: #FFE; color: #444;  border: 1px solid #CCC; 	
	box-shadow: 7px 7px 5px #888; 
	border-radius: 10px; 
}
#textarea { font-size: 28px; text-align: left; }
#picture {
	margin-block-start: 1em;
	margin-block-end: 0;
	}
h2 { margin-block-start: 0; }
details h2 { margin-block-start: 2em; }

.nowrap { white-space: nowrap; }
.suboptions { font-size: 90%; color: chocolate; margin-inline-start: 2em; }

@media (max-width: 700px) { 
.sidebar { margin-inline-start: 2em; }
.noprint h2 { font-size: inherit; }
}
.samplePointer {
    margin-inline-start: 7.5%;
    margin-block-start: -2rem;
    margin-inline-end: 32%;
    text-align: end;
    font-size: 80%;
    font-style: italic;
    }
.scriptDescription {
    margin-inline-start: 7.5%;
    /*margin-block-start: 2rem;*/
    margin-inline-end: 32%;
    text-align: start;
    font-size: 85%;
    font-style: normal;
    line-height: 1.5;
    }
.scriptLineage {
    margin-block-start: 1em;
    }
.scriptLineage, .scriptSiblings {
    font-style: italic;
    font-size: 80%;
    }
.scriptDetails {
    margin-block-start: 1rem;
    }

.fontItem img, .fontItem b {
    cursor: pointer;
    font-size: 80%;
    }

.writingStyle {
    color:#ccc; font-size:200%; margin: 0 2em; cursor: pointer; margin-inline-start: 7.5%; margin-block-start: 3rem; font-variant-caps: all-small-caps; color:tan; color: chocolate; border-block-end: 1px solid tan; width: 70%;
    }



#fontInfo {
    display: none;
    background: #fffbff;
    width: 40%;
    padding: 2em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1rem;
    box-shadow: lightgray 10px 5px 5px;
    font-family: arial;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #666;
    max-height: 60vh;

    position: fixed;
    overflow-y: auto;
    scrollbar-color: tan transparent;
    scrollbar-width: thin;
    z-index: 1000;
    left: 30%;
    right: 18%;
    top: 10%;
    }
#summaryWin {
    display: none;
    font-size: .9rem;
    background-color: white;
    margin: auto;
    padding: 2em;
    border: 1px solid rgb(204, 204, 204);
    /* border-radius: 1em; */
    max-width: 70%;
    max-height: 80vh;
    box-shadow: gray 10px 5px 5px;
    overflow-y: auto;
    scrollbar-color: tan transparent;
    scrollbar-width: thin;
    z-index: 1000;
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    left: 30%;
    right: 18%;
    bottom: 2.5rem;
}


#fontInfoContent {
    font-size: smaller;
    }
#fontInfoTitle {
    font-weight: bold;
    margin-block-end: .5rem;
    color: #333;
    }
#fontInfoClose  {
    text-align: end;
    margin-block-start: 1rem;
    }
#fontInfoClose span {
    cursor: pointer;
    background: #924931;
    color: white;
    padding: .75rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 90%;
    }







/*. CONTROL PANEL STYLING  */

/* ================================
   Layout
   ================================ */



.sidebar {  
  float: right;
  width: 27%;
  clear: right;
  text-align: start;
  font-size: 90%;
  }


/* ================================
   Sections
   ================================ */


.main_label {
  font-weight: 700;
  display: inline-block;
}

.control-group {
  font-weight: 700;
}

.suboptions {
  font-size: 90%;
  color: chocolate;
  margin-inline-start: 2em;
  font-weight: normal;
  }


/* ================================
   Text behaviour
   ================================ */

.nowrap {
  white-space: nowrap;
}


/* ================================
   Inputs
   ================================ */

.text-input,
.lang-input,
.feature-input,
.font-input {
  width: 90%;
  font-size: 0.9rem;
}

.slider {
  width: 50%;
}

.size-indicator {
  font-size: 0.8rem;
  margin-left: 0.4rem;
}


/* ================================
   Buttons
   ================================ */

aside.sidebar button {
	margin-block-end: 2em;
	}

.btn-reset {
  font-size: 0.9em;
  cursor: pointer;
}

.btn-go {
  margin-block: 1rem;
  font-size: 2rem;
  border-radius: 0.6rem;
  color: chocolate;
  border: 1px solid tan;
  cursor: pointer;
}

.btn-copy {
  margin-block: 3rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}



