@font-face {
    font-family: 'Tai Heritage WF';
	src: 	local('Tai Heritage Pro'),
   			url('../../shared/webfonts/taiheritagepro-regular-webfont.woff2') format('woff2'),
    		url('../../shared/webfonts/taiheritagepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Sans Tai Viet WF';
	src: 	local('Noto Sans Tai Viet'),
			url('../../shared/webfonts/notosanstaiviet-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notosanstaiviet-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: "Tai Heritage WF", "Noto Sans Tai Viet WF", serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }
[lang=blt] { font-family: "Tai Heritage WF", "Noto Sans Tai Viet WF", serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	






.useBlockExamples .charExample .ex {
    font-size:280%;
    line-height: 1.6;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 100%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}


.vowelSignExample bdi {
    font-size:300%;
    line-height:1;
    }


#index .listItem[lang] {
    line-height: 2;
    display: inline-block;
    }

.listItem[lang] {
    line-height: 2;
    display: inline-block;
    }


