#freeText, #freeText2 {
	font-size: 24px;
	font-family: serif;
    line-height: 1.4;
	}


[lang|=zh]  { font-family: SimSong, STSong, SimSun, NSimSun; font-size: 130%; }
[lang=zh-hant]  { font-family: "Apple LiSung", "Songti TC", "MingLiu", "PMingLiu"; font-size: 130%; }

@media print { #freeText { font-size: 18px; } }


.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.vt { text-align: center; white-space: nowrap; line-height: 1; }
.nc { text-align: center; font-size: 80%; }
thead th { text-align: center; }
.punctuationTable td { border: 0; }
.punctuationTable thead th { font-size: 80%; line-height: 1; }
