/* This is a new version of style.css, adapted to work with the docs.css style sheet */


h2 { 
	clear: left; 
	margin-top: 5em;
	font-size: 180%;
	}


a { font-weight: 400; }

#charlistsection img { 
	vertical-align: top; 
	}
#charlistsection p { 
	line-height: 1.2em; 
	margin-top:0;  
	margin-bottom: 0; 
	font-style: italic; 
	}

#index { margin-left: 7.5%; margin-right: 20%; margin-top: 20px;  }
#index td { border: 1px solid #ccc; text-align: left; }
#index th { vertical-align: top; }
#index a { width: 80px; }
#index td a:link,#index td a:visited, #index td a:active { color: #999; line-height: 2em; }
#index td a:hover { color: white; background-color: gray }


.titlepara { text-align:start; }


.notes { 
	margin: 1em 10px 0 7.5%;
	}

.character .notes p { 
	margin: .5em 1em; 
	}
.character .notes p.charShape { 
	margin: 0 1em .5em 1em; 
	}
.character .notes > p { 
	font-size: 85%;
	line-height: 1.4em; 
	}
.notes ul, .letter li { 
	margin-right: 0; text-align: left; 
	}

.letter { 
	margin-bottom: 10px; 
	border: 1px solid #ddd; 
	border-radius: 10px; 
	hyphens: auto; 
	background-color: #ffffef;
    background-color: #FFFDFA;
    background-color: #FFFBF0;
    background-color: #FFFEFA;
    background-color: #FFFDF5;
    color: #444;
    color: #555;
    clear: right;
	}

.notes section { 
	margin-top: 1em; 
	margin-bottom: 10px; 
	border: 1px solid #ddd; 
	border-radius: 10px; 
	hyphens: auto; 
	background-color: #ffffef;
	clear: none;
	}
.letter img { 
	vertical-align: middle; 
	border-radius: 5px; 
	}
.notes .title { 
	color: #F63; 
	font-size: 120%; 
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	letter-spacing: 0.03em; 
	}
/*.notes .title:after { 
	content: '\00A0  '; 
	}
*/
.charname { 
	letter-spacing: 0.02em; 
	padding-top: .8em;
	}
.character { 
	margin: 1em 10% 3em 7%; 
	background-color: #FDFADF; 
	border: 1px solid #FBF4BF; 
	background-color: white; 
	border: 0; 
	clear: left; 
	padding-bottom: 15px; 
	border-radius: 10px;
	}
.character p { 
	margin-right: 50px; 
	}
.character div.up { 
	float: right; 
	margin-right: 0; 
	margin-top: -5px; 
	}

.charimg { 
	float: left; 
	margin: 15px; 
	margin-bottom: 0;
	border: 1px solid #E7D10E;
	border-radius: 10px;
	}
.univiewLink { 
	font-size: 80%;
	margin-bottom: 0;
	}
.unicodenotes { 
	line-height: 1.2em; 
	/*margin-bottom: 3em;*/
	margin: 0;
	margin-left: 0%;
	font-size: 80%;
	/*min-height: 4em;*/
	}
.subtitle { 
	font-size: 80%; 
	font-style: italic; 
	color: #999; 
	margin-bottom: 0; 
	/*margin-top: 2.5em;*/
	margin-left: 40%;
	display: none;
	}

.ref { text-align: inherit; }


#panel { 
	position: fixed; 
	bottom: 20px; 
	right: 10px; 
	background-color:#ffe; 
	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	z-index:2000;
	width: 28%;
	font-size: 80%;
	text-align: left;
	text-align: start;
	max-height: 80%;
	overflow: auto;
	}
#panel .ex, #panel .exi { font-size: 160%; }
#panel img { vertical-align: middle; }
#panel p { margin: 0; margin-top: 3px; }
#panel #title { font-size: 200%; }



#endlinks li {
	text-align: left;
	}





sup {
	font-size: 65%;
	}

.ex { color:crimson; cursor:pointer;  }
.exi { color:red; cursor:pointer; vertical-align: top; }

.meaning { letter-spacing: 0.02em; }
.meaning:before { content: '‘';  }
.meaning:after { content: '’';   }

.name { font-style: italic; }
.name { font-family: 'doulos sil', 'charis sil', gentium, sans-serif; font-size:110%;  }
.character .notes .ref { 
    font-size: 60%; 
    text-align: right;
    }

.trans { 
	font-family: "Doulos SIL", "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	font-size: 1.1em;
	font-style: italic;
	font-weight: 300;
	}
/*
.trans:before { 
	content: '·'; 
	content: '‹'; 
	color: #bbb; 
	margin-right: 1.5px; 
	}
.trans:after { 
	content: '·';  
	content: '›';  
	color: #bbb; 
	margin-left: 1.5px; 
	}
*/

.ednote { font-size: 80%; color: #666; font-style:italic; }

section { clear: left; }

.ipa { 
	font-family: doulosipa,"Gentium Plus", "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica", sans-serif; 
	font-size: 18px; 
	}
.ipa:before { 
	content: '⌈'; 
	font-family: "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 1.5px; 
	margin-left: 0.2em; 
	color: #aaa; 
	}
.ipa:after { content: '⌋'; font-family: "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; margin-right: 0.2em; margin-left: 1.5px;  color: #aaa; }

.name { 
	font-family: "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica", "Gentium Plus", sans-serif; 
	font-size: 16px; 
	}


#fontsetting {	
	line-height: 1em; 
	position:fixed; 
	bottom: 35px; 
	background-color: #eee; 
	border-top-left-radius: 15px; 
	border-bottom-left-radius: 15px; 
	right: 0px; 
	width: 210px; 
	padding-top:0; 
	z-index: 1000;
	}
#fontsetting h2 { 
	margin-top: 10px; 
	margin-left: 12px; 
	vertical-align:middle; 
	}
#fontsettingswitch { 
	float:left; 
	height: 200px; 
	width: 12px;
	background-color:#b4d5ff; 
	font-size: 12px; 
	cursor:pointer; 
	}

summary {
    margin-left: 7.5%;
    margin-right: 32%;
    margin-top: 1em;
    }


/* probably not needed */

.instructions {
	 /*font-family: robotolight; */
	 font-style: italic; 
	 /* text-align:center; */
     font-size: 80%;
	 margin-bottom: 0;
	}


.choices .ex { font-size: 200%; }
.choices .uname { font-size: 70%; }
.choices th { text-align: center; }
.choices td { padding: 10px 10px 0 10px; }

.uname { font-size: 75%; margin: 0 2px; }

.database h2 {  clear: both; }

/* perhaps not used */
.expandedtext { border: 1px solid teal; padding: 3px; margin-bottom: 10px; text-align: left;	}
.expandedtext img { vertical-align: middle; }

.edit { text-align: right; font-size: 80%; color: teal; cursor: pointer; margin-right: 10px; }
#input { margin-bottom: 20px; color: #999; font-size: 80%; }
.leadin { color: #CC6600; font-style: italic; margin-right: 1em; font-size: 90%; }
#list { border: 3px solid #ffa500;  width: 100%; font-size: 120%; border-radius: 5px; } 
.message { color: #F63; margin-top: 4em; font-size: 120%; line-height: 1.4em;  
	background-color:#ffe; 
	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	}
.ref { font-size:60%; }
#resultsarea { margin-right:28%; margin-bottom:30px; margin-left:7%; }
.title { font-weight: bold; }


[lang |= 'ak'] { font-family: 'Doulos SIL', 'Charis SIL', Gentium, sans-serif; font-size: 100%; }
[lang |= 'am'] 	{font-family: "Abyssinica SIL", "Ethiopia Jiret", sans-serif; }
[lang |= 'ban'] { font-family: "Aksara Bali", "Noto Sans Balinese", sans-serif; font-size: 24px; }
[lang |= 'ber'] { font-family: "Noto Sans Tifinagh", "Hapax Berbère", Ebrima, "Tifinaghe-ircam Unicode", sans-serif; font-size: 18px;}
:lang(bn) { font-family: SolaimanLipi, "Lohit Bengali", "Bangla MN", "Bangla Sangam MN", "Shonar Bangla", Nirmala, Vrinda, sans-serif;  font-size: 24px; }
[lang |= 'cy'] { font-family: Gentium, serif; font-size: 100%; }
[lang |= 'dz'] { font-family: "Tibetan Machine Uni", serif; font-size: 140%; }
[lang |= 'el'] 	{font-family: Gentium, "Times New Roman", serif; font-size: 110%; }
[lang |= 'en-gb-fonipa'] { font-family: 'Doulos SIL', 'Charis SIL', Gentium, sans-serif; font-size: 110%; }
/* [lang |= 'fa'] { font-family: IranNastaliq, tahoma, sans-serif; font-size: 32px;  direction: rtl; unicode-bidi: embed; unicode-bidi: isolate; }
[lang |= 'he'] 	{font-family: "Ezra SIL", "Times New Roman", "Narkisim", "New Peninim MT", serif; font-size: 110%;  direction: rtl; unicode-bidi: embed; unicode-bidi: isolate; } */
[lang |= 'hi'] 	{font-family: Chandas, Mangal, sans-serif; font-size: 110%; }
[lang |= 'hu'] { font-family: Gentium, serif; font-size: 100%; }
[lang |= 'hy'] { font-family: 'Noto Serif Armenian', 'Arian AMU', "Arial Unicode MS", Sylfaen, Mshtakan, sans-serif; font-size: 100%; }
[lang |= 'iu'] 	{font-family: Uqammaq, sans-serif; }
[lang |= 'ja'] 	{font-family: "MS Mincho", "Arial Unicode MS", sans-serif; font-size: 110%; }
[lang |= 'kk'] 	{font-family: "Doulos SIL", serif; font-size: 100%; }
[lang |= "km"] { font-family: "Khmer OS Battambang", sans-serif; font-size: 130%; }
:lang(lis) { font-family: "Lisu Tzimu", "Noto Sans Lisu", sans-serif; font-size: 18px; }
:lang(lo) { font-family: "Saysettha OT", "Lao MN", "Lao Sangam MN", Dokchampa, "Lao Sans Pro", "Noto Sans Lao", "Noto Serif Lao", Petsarath, Souliyo, Dhyana, sans-serif; font-size: 24px; }
:lang(ml) { font-family: "Malayalam Sangam MN", "Malayalam MN", Karthika, "Noto Sans Malayalam", thoolikatraditionalunicode, thoolikaunicode, sans-serif; font-size: 24px; }
[lang |= 'ne'] 	{font-family: Kanjirowa, Mangal, sans-serif; font-size: 100%; }
[lang |= 'pa'] 	{font-family: AnmolUniBani, sans-serif; }
[lang |= 'ru'] 	{font-family: "Doulos SIL", serif; font-size: 100%; }
:lang(ta)	{font-family: "Tamil Sangam MN", "Tamil MN", InaiMathi, "Noto Sans Tamil", Latha, Vijaya, sans-serif; font-size: 24px; }
[lang |= 'te'] 	{font-family: "Akshar Unicode", Gautami, sans-serif; font-size: 130%; }
[lang |= 'th']  {font-family: "Noto Sans Thai", Dokchampa, Thonburi, "Angsana New", "Cordia New", sans-serif; font-size: 25px; }
[lang |= 'ur'] { font-family: "Nafees Nastaleeq", "Urdu Typesetting", "Aldhabi", serif; font-size: 24px; direction: rtl;  }
[lang |= 've'] { font-family: Gentium, serif; }
[lang |= 'zh-Hans'] { font-family: "Simsun", sans-serif; }
[lang |= 'zh-Hant'] { font-family: "Mingliu", sans-serif; }



.listArray { display: flex; flex-direction: row; flex-wrap: wrap; }
.listPair { display: flex; flex-direction: column; flex-wrap: nowrap; margin-right: .75em; margin-bottom: 1em;}
.listItem { color: red; cursor: pointer; }
.listAll { float:right; font-size: 70%; white-space: nowrap; cursor: pointer; }


/* SEMANTIC CLASSES */
.charDescription .trans, .charDescription .ipa, .usage {
    margin-left: 1em;
    }

.decomposition, .vowelPairing, .tonePairing, .otherPairing, .charShape, .charLowercase, .charUppercase {
    font-size: 85%;
    text-align: start;
    }

.titlepara { line-height: 1.4; }

.titlepara .charName, .titlepara .localtrans, .titlepara .name, .titlepara .ipa, .charIPA, .charMeaning  {
    margin-left: 1em;
    }
.localname + .transliteratedname { margin-left: 0em; }
/*.localname, .transliteratedname { float:right; margin: 0.5em; }*/

.charStatus { font-style: italic; }

.usedby, .charNotes {
    font-size: 85%;
    line-height: 1.4;
    text-align: start;
    }

.otherTranscriptions, .numEquiv { 
    font-size: 80%;
    line-height: 1.4em;
    text-align: end;
    clear: right;
    }

.deprecated { font-weight: bold; }


.charShape {
    text-align: right;
    float: right;
    /*border: 1px solid #ccc;*/
    padding: .2em;
    border-radius: 1em;
    font-size: 140%;
    word-spacing: .5em;
    }


@media (max-width: 700px) { 

/* set margins */
p, h2, h3, h4, dl, div#footer, div.example, figure { margin-left: 1em; margin-right: 1em; }
ul, ol { margin-left: 2em; margin-right: 2em; }
ul ul { margin-left: 2%; margin-right: 5%; }
table { margin-left: 1em;  }
table.inband { margin-right: 1em; }
blockquote { margin-left: 2em; margin-right: 2em; }


.character { margin-left:0; margin-right:0; }

#index { margin-left:1em; margin-right:1em; }

.sidebar {
	float: none;
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 90%;
	margin-bottom: 3em;
	}
#site-navigation, #line {
	display: none;
	}
#topbar {
	margin-right:0;
	}

}
.linkHighlight {
    font-size: 120%;
    }