@font-face {
    font-family: 'gentiumpluswf';
    src: url('../../shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/gentiumplus-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'gentiumpluswf';
    src: url('../../shared/webfonts/gentiumplus-i-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/gentiumplus-i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
	}


.counter_style_comp thead th { text-align: start; }
.counter_style_comp tbody th { text-align: end; line-height: 1; }
.counter_style_comp table { margin:0; margin-top: 2em; }


body {
	line-height: 2em;
	font-size: 15px;
	}
#featureTableBody {
	line-height: 1.75;
	}


table { margin-left: 7.5%; margin-right: 32%; }
td { text-align: start; padding: 0 .5em; vertical-align: top; }
th { vertical-align: top; }



.meaning { letter-spacing: 0.02em; }
.meaning:before { content: '‘';  }
.meaning:after { content: '’';   }

.character .notes .ref { font-size: 60%; }

.trans, .listTrans, .name, .charExample .transc { 
	font-family: gentiumpluswf, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	font-size: 1.2em;
	font-style: italic;
	font-weight: 300;
	font-feature-settings: "ss05" 1;
	}
.listTrans {
	display: none;
	}
.listArray { display: flex; flex-direction: row; flex-wrap: wrap; }
.listPair { display: flex; flex-direction: column; flex-wrap: nowrap; margin-right: .75em;  margin-top: .5em; }
.listItem[lang] { cursor: pointer; min-width: 1em; color: chocolate; font-size: 200%; line-height: 1.4; }
.listAll { float:right; font-size: 70%; white-space: nowrap; cursor: pointer; }

.listTransc, .listTrans2 { 
    display: none; 
	font-family: gentiumpluswf, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	font-size: 1.1em;
	font-weight: 300;
    }
.listUnum {
    font-size: .6em;
    display: inline;
    line-height: 2;
    }


.ednote { font-size: 80%; color: #666; font-style:italic; color: orange; }

section { clear: left; }

.ipa, .listIPA { 
	font-family: gentiumpluswf, doulosipa,"Gentium Plus", "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica", sans-serif; 
	font-size: 120%; 
	}
.listIPA {
	font-size: 150%;
	}
.ipa:before { 
	content: '⌈'; 
	font-family: gentiumpluswf, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 1.5px; 
	margin-left: 0.2em; 
	color: #aaa; 
	}
.ipa:after { 
	content: '⌋'; 
	font-family: gentiumpluswf, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 0.2em; 
	margin-left: 1.5px;  
	color: #aaa; 
	}
.listIPA:before { 
	content: '⌈'; 
	font-family: gentiumpluswf, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	color: #aaa; 
	}
.listIPA:after { 
	content: '⌋'; 
	font-family: gentiumpluswf, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	color: #aaa; 
	}
.listIPA i {
    color: #ccc;
    margin: 0 .1em;
	}
.codepoint span[lang] {
	color: black;
	}

table p {
	margin: .5em 0;
	}



.ex, .exlist  { 
	cursor: pointer; 
	color: crimson;
	color: black;
	color: chocolate;
	}
figure .ex, .exlist  { 
	cursor: pointer; 
	color: black;
	}
.uname {
    font-size: 75%;
    margin: 0 2px;
	}

p.large {
	text-align: center;
	}
.instructions, .prompts, .figsource {
	font-style: italic;
    font-size: 80%;
    line-height: 1.4;
	}
.prompts {
	color: #ccc;
	}
.explanatoryintro, .definition { /* use the former, rather than the latter */
	font-style: italic;
    font-size: 80%;
    line-height: 1.4;
	}
/*
h2 {
    font-size: 180%;
	}
*/


#showTranscriptions {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 3em;
	right: 1em;
	width: 28%;
	text-align: right;
	margin-top: 7em;
	clear:both;
	}

/*
#features {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 3em;
	right: 1em;
	width: 28%;
	text-align: right;
	margin-top: 7em;
	clear:both;
	}
*/

#features {
	float: right;
	width: 28%;
	text-align: right;
	margin-top: 7em;
	clear:both;
	}
#features table td {
	text-align: left;
	padding: 0 5px;
	line-height: 1.5;
	font-size: 80%;
	}
#features table th {
	font-weight: 400;
	font-size: 60%;
	}
#features table {
	margin: auto;
	}

#features a { font-size: 110%; font-weight:normal; }
#features a:link { color: #F96; }
#features a:active { color: #F96; }
#features a:hover { color: #F96; }
#features a:visited { color: #F96; }

/*#freeText p { margin-top: 40px; }*/

#picture {
	margin-top: 2em;
	}

.characters h3 { margin-top: 2em; }
h4 {
    color: coral;
    margin-top: 2em;
	margin-bottom: 0;
	font-weight: normal;
	color: #9e8769;
	font-weight: 500;
	color: peru;
    }
h4 + p {
	margin-top: 0;
	}

#fontcontrols { font-size: 12px; }
#fontcontrols form { display: inline; }

#fontsetting {
    line-height: 1em;
    position: fixed;
    bottom: 35px;
    background-color: #eee;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 0;
    z-index: 1000;
	}
#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsetting h2 {
    margin-top: 10px;
    margin-left: 12px;
    vertical-align: middle;
	}

#fontsettingswitch {
    float: left;
    height: 130px;
    width: 12px;
    background-color: #b4d5ff;
    font-size: 12px;
    cursor: pointer;
	}


#showNotes { text-align: right; font-size: 80%; }

#sources { font-size: 90%; }

.ref { font-size: 60%; }



/* ====================== */
#panel { 
	position: fixed; 
	bottom: 20px; 
	right: 10px; 
	padding: 0.5em; 
	width: 26%; 
	background-color:#ffe; 
	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	z-index:2000;
	width: 28%;
	font-size: 80%;
	text-align: left;
	text-align: start;
	max-height: 80%;
	overflow: auto;
	}
#panel img { vertical-align: middle; }
#panel p { margin: 0; margin-top: 3px; }
#panel #title { 
	font-size: 200%; 
	color: #F00;
	color: chocolate;
	}
#transInPanel { font-size: 150%; }
#panel #advice {
	text-align: right;
	font-style: italic;
	font-size: 80%;
	margin-right: 2em;
	}
/* ====================== */


.ctlink {
    text-align: center;
    font-size: 70%;
    margin: 0;
}


.set_vertical_rl {
	writing-mode: vertical-rl;
	margin: 0 auto;
	}
.set_horizontal {
	writing-mode: horizontal-tb;
	}


.cldrList { 
	margin: 0 32% 0 7.5%; 
	}
.cldrList td {
	padding: 0 .5em;
	text-align:start;
	}
.cldrList th {
	padding: .5em .5em;
	text-align:end;
	vertical-align:top;
	line-height: 1.2;
	}
.linkHighlight {
	font-size: 120%;
	}
.character_list td {
	padding: 0 1em;
	text-align: start;
	}
.character_list tbody th {
    color: #CC6600;
    font-style: italic;
    padding-inline-end: 1.5em;
    font-size: 72%;
    font-weight: bold;
	}
.character_list thead th {
	padding: 0 1em;
	text-align: center;
    color: #CC6600;
    font-style: italic;
    font-size: 72%;
    font-weight: bold;
	}

.charCount {
    font-style: italic;
    font-size: 70%;
}


.tableHighlight {
    color: #F96;
    font-size: 110%;
    font-weight: normal;
	color: chocolate;
    }


/* === figure counters === */
body {
	counter-reset: figures;
    }

figcaption {
	counter-increment: figures;
    }

figcaption:before {
	content: 'Fig. ' counter(figures) ': ';
    }



mark {
    /*border-radius: .5em;
    border: 1px solid darkgray;
    padding: 0 1em;*/
	
	background-color: white;
	font-weight: bold;
	color: inherit;
    }
    
details {
    margin-left: 7.5%;
    margin-right: 32%;
    }
 details blockquote {
    margin-left: 3em;
    margin-right: 3em;
	}
 details p, details table {
    margin-inline-start: 0;
    margin-inline-end: 0;
	}
/*
.leadin {
    color: coral;
    display: inline-block;
    margin: 1.5em 1em 0 0;
    }
*/
.leadin { color: #CC6600; font-style: italic; margin-right: 1em; font-size: 90%; }

/*.auto {
	margin: 1em 30% 1em 10%;
	}*/
.characterBox, .mainBox, .auxiliaryBox, .auxBox, .deprecatedBox, .otherBox, .archaicBox, .foreignBox, .exampleBox {
    border: 1px solid #eee; 
    padding: 8px;
    margin-left: 7.5%;
    border-radius: 8px;
	margin-top: 0;
	margin-bottom: 1em;
	}
.characterBox, .mainBox {
	background-color: #fffdf5;
	padding-top: 0;
	}
.auxiliaryBox, .auxBox {
	background-color: snow;
	padding-top: 0;
	}
.otherBox {
	background-color: white;
	}
.archaicBox {
	padding-top: 0;
	background-color: ghostwhite;
	}
.deprecatedBox {
	background-color: #eee;
	padding-top: 0;
	}
.foreignBox {
	background-color: white;
	padding-top: 0;
	}

.auxiliaryBox::before {
    content: "Infrequent";
    font-size: 60%;
    margin: 1em 0 0 0;
	line-height: 1;
    text-align: left;
    display: block;
	}
.archaicBox::before {
    content: "Archaic";
    font-size: 60%;
    margin: 1em 0 0 0;
	line-height: 1;
    text-align: left;
    display: block;
	}
.deprecatedBox::before {
    content: "Deprecated";
    font-size: 60%;
    margin: 1em 0 0 0;
	line-height: 1;
    text-align: left;
    display: block;
	}
.foreignBox::before {
    content: "Other languages/dialects";
    font-size: 60%;
    margin: 1em 0 0 0;
	line-height: 1;
    text-align: left;
    display: block;
	}




.termref {
    border-bottom: 1px dotted teal;
    }
figure p {
    text-align: center;
    }
details figure {
    margin-right: 0;
    }





.exampleFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    }
.exampleFlex span {
    margin: 0 .25em !important;
    }



.ipaTable thead th {
	vertical-align: bottom;
	text-align: left;
	text-align: start;
	padding-bottom: 0;
	}
.ipaTable thead th {
	vertical-align: bottom;
	text-align: left;
	text-align: start;
	padding-bottom: 0;
	color: #ccc;
	font-weight: normal;
	line-height: 1;
	}
.ipaTable tbody th {
	vertical-align: middle;
	text-align: right;
	text-align: end;
	padding-bottom: 0;
	color: #ccc;
	font-weight: normal;
	line-height: 1;
	}
.ipaTable .ipa, .ipaTable .allophone {
	cursor:pointer;
	}
.ipaTable .ipa:before {
	content: none;
	}
.ipaTable .ipa:after {
	/*content: ' ';*/
	content: none;
	}
.ipaTable td {
	white-space: nowrap;
	text-align: start;
	min-width: 2em;
	border: 0;
	}
.diphthongTable thead th {
	font-family: gentiumpluswf, doulosipa,"Gentium Plus", "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica", sans-serif;
	text-align: center;
	}
.allophone { font-family: gentiumpluswf, doulosipa,"Gentium Plus", sans-serif; 
	font-size: 120%; 
	color: #ccc; }
/*.allophone::before { content: '('; color: #ccc; }
.allophone::after { content: ')'; color: #ccc; }*/

.ipaSVG .ipa { fill: #666; font-family: "gentiumpluswf"; font-weight:normal; font-size:20px;text-align:left; text-anchor: center; cursor: pointer; }
.ipaSVG .allophone { fill: #ccc; fill: tan; font-family: "gentiumpluswf"; font-weight:normal; font-size:20px;text-align:left; text-anchor: center; cursor: pointer; }
.ipaSVG .allophone::before { content: '('; stroke: #ccc; }
.ipaSVG .allophone::after { content: ')'; stroke: #ccc; }


.fnref, .fnDef, .fn {
	vertical-align: super;
	margin-inline-start: .25em;
	font-size: 60%;
	}


@media print {


h2 {
    text-decoration: none;
    color: #333;
    }
.listItem {
    color: black;
    }
a:link {
    color: black;
}
a:visited { 
	color: #000;
	}
.ex {
    color: black;
}
#features a:link { color: #000; }
#features a:active { color: #000; }
#features a:hover { color: #000; }
#features a:visited { color: #000; }

#showTranscriptions { display: none; }

.ednote { color: gray; }
.noprint { display: none; }

.listItem[lang] { color: black; }
.ex, .exlist  {	color: black; }
.mapItem .phone { color: black; }
}





.charExample, .charExampleInline {
	margin: 0 .3em;
	}

.useBlockExamples .charExample {
	margin: .3em;
	font-size: 120%;
	display: block;
	text-align: center;
	}
.useBlockExamples .map .charExample, 
.useBlockExamples .charDetails .charExample, 
.useBlockExamples .charExample.inline,
.useBlockExamples #panel .charExample {
	margin: 0;
	font-size: 100%;
	display: inline;
	}
.useBlockExamples .fn {
	position: absolute;
	right: 28%;
	}
.charExample + .charExample {
    margin-top: .6em;
	}

.charExample .trans {
	display: none;
	}

.secref {
	font-size: 100%;
	}



#charCountList {
	font-size: 80%; color: gray; text-align: start; line-height: 1.4; margin: 0 0 0 3em;
	}
#linebreak_details p { margin-right: 0; }
#linebreak_details { font-size: smaller; line-height: 1.2; margin-top: 1em; }

.observation, .note {
	font-size: 80%;
	line-height: 1.2;
	}
.note::before {
	content: '[ℹ] ';
	font-size: 140%;
	}

.mouth img {
	width: 50px;
	}

#test td {
	border: 0;
	 background-image:url('mouth.png'); background-size: 100% 100%; background-repeat:no-repeat; background-position: center center;
	}


#phoneLinks {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	font-size: 80%; 
	padding-left: 1em;
	}
	
.refs li {
	text-align: start;
	}

.legend {
	line-height: 1;
	font-size: smaller;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	}
.legend dl, .legend dt {
	margin-top: 0;
	margin-bottom: 0;
	}

.formattingBox {
	display: none;
	}

.map { display: flex; flex-direction: column; margin: 0 30% 1em 7.5%;  background-color: #ffebcd82; padding: 1em .5em; border-radius: 8px; background-color: #fff5e6; }
.mapItem { display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; border-bottom: 1px solid #ddd; }
.mapItem:last-child { border: 0; }
/*.mapItem div:last-child { border: 1px solid #ccc; border-bottom: 0;  width: 100%; }*/
.mapItem .posn { font-weight: bold; font-size: 70%; width: 2em; text-align: end; padding: 1em .5em 0 0; }
.mapItem p { margin: .5em; }
.mapItem div:first-child { width: 3em; padding-top: .5em; }
.map .mapItem:last-child div:last-child { border-bottom: 0; }
.map:last-child { border-bottom: 0; }
/* .map .mapItem:last-child div:last-child { border-bottom: 1px solid #ccc; } */
.mapItem .charExample span[lang] { color: tan; }
.mapItem .charExample { color: #888; font-size: 100%; }

.mapItem .phone {
    color: darkorange;
	min-width: 3em;
	}
.mapItem .posn {
	min-width: 2em;
	}
.mapItem .uncommon {
    color: #aaa;
	}

.more::after { content: '→'; }

.select {
	border: 0;
	}


#translitToggle { margin-top: 1em; }

.infoIcon { float:left; margin-left: 3.5%; vertical-align: middle; margin-top: .5em; }


.graphemeTable {
	margin-left: 7.5%;
	border: 0;
	}
.graphemeTable td {
	border: 0;
	}
.graphemeTable figure {
	border: 0;
	border-top: 1px solid tan;
	border-radius: unset;
	}

.characterBoxTitle { 
	font-size:80%;
	text-align:start;
	margin:0;
	margin-left: 8%;
	/*margin-bottom: -1.5em;*/
	line-height: 1;
	}


.largeList .listItem {
	font-size:200%;
	line-height: 2;
	}

.termHighlight {
	font-weight: bold;
	}

.alternatives li {
	margin-bottom: 1em;
	}


.multiItemFigure {
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
	}
.multiItemFigure img {
	margin-inline-start: 2em; 
	margin-inline-end: 2em;
	margin-block-end: 1em;
	}


#character_panel_close_button {
	position: fixed;
	bottom: 0;
	padding: 1em;
	border: 1px solid tan;
	background-color: #ffe;
	right: 0;
	border-radius: 5px;
	}


.fig_highlight {
	color: chocolate;
	}





figure table.charDetails  {
	margin: 0;
	width: 100%;
	}
.charDetails .insertTranscription {
	
	display: none; /* because these pages show transcriptions already */
	
    font-size: 80%;
    line-height: 1em;
    text-align: end;
    clear: right;
    font-style: italic;
    float: right;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 3em;
    color: chocolate;
    padding-left: .5em;
    padding-right: .5em;
	}
/*
table.charDetails > tr > td {
	border: 0;
	border-inline-start: 1px solid chocolate;
	padding-top: 0em;
	border-radius: 10px;
	}
figure .charDetails > tr > th {
	text-align: center;
	font-weight: normal;
	font-size: 160%;
	min-width: 1em;
	}
figure .charDetails td p {
	text-align: start;
	font-size: 90%;
	}
figure .charDetails td .uname {
	font-weight: bold;
	}
.charDetails summary {
	margin-left: 7.5%;
	font-size: 80%;
	font-style: italic;
	}
figure .charDetails .ex {
    color: chocolate;
	}
.charDetails ul, .charDetails ol {
    margin: 0;
	}
*/
.cdData {
	border: 0;
	border-inline-start: 1px solid chocolate;
	padding-top: 0em;
	border-radius: 10px;
	line-height: 1.6;
	}
.cdChar {
	text-align: center;
	font-weight: normal;
	font-size: 160%;
	min-width: 1em;
	}
.cdCharClose {
	font-size: 70%;
	color: burlywood;
	line-height: 1;
	display: inline-block;
	cursor: pointer;
	}
.cdData p {
	text-align: start;
	font-size: 90%;
	line-height: 2em;
	}
.cdTitle {
	font-weight: bold;
	}
.cdChar .ex, .cdData .ex {
    color: chocolate;
	}
.charD p, .charD li {
	line-height: 1.5em;
	}
.cdData ul, .cdData ol {
    margin: 0;
	}
p.cdHeader {
    line-height: 1.2;
	}
.cdBasics {
    font-style: italic;
	font-size: 90%;
	}





#panel .cdChar {
	text-align: start;
	border-bottom: 1px solid #aaa;
	}
#panel .insertTranscription {
	display: none;
	}
#panel ul {
	margin: 0;
	}
#panel .charD {
	margin-block-end: 2em;
	}


.listUnumCP {
	color: teal;
	cursor: pointer;
	}

.reviewed {
	font-size: 70%;
	color: #ccc;
	margin-inline-start: 1em;
	float: right;
	}

p.btw {
	border-inline-start: 5px solid #ccc;
	padding: 0 1em;
	}
div.btw {
	border-inline-start: 5px solid #ccc;
	padding: 0 1em;
	margin-inline-start: 7.5%;
	}
div.btw p, div.btw figure { margin-inline-start: 0; }



.comparison {
	border-collapse: collapse;
	}
.comparison th {
	border-collapse: collapse;
	text-align: start;
	width: 48%;
	}
.comparison td {
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 1em;
	}


.cursive_table td { text-align: center; color: black; font-size: 120%; vertical-align: middle; }
.cursive_table thead th { padding: 0 1.5em; }
.cursive_table tbody th { font-weight: normal; font-size: 80%; text-align: end; }
.cursive_table tbody th figure { margin: 0; }
.cursive_table tbody th .otherBox { padding: 0; }
.cursive_table tbody th .listPair { margin: 0; }
.cursive_table tbody th .listUnum { display: none; }

.character_list td { background-color: #fffdf5; }


#index {
	background-color: antiquewhite;
    padding-bottom: 1em;
	}
#index h2 {
    padding-top: 1em;
	}
#index h3 {
    border-bottom: 1px solid #d2691e5e;
	}
#index .otherBox {
    background-color: transparent;
	}


.figure_matrix { display: flex; flex-direction: column; }
.figure_row { display: flex; flex-direction: row; }
.figure_annotation { font-family: 'Gentium Plus'; font-size: 20px; color: #aaa; margin: 0 1em; align-self: center; }


.counterstylesBox { margin-top: 0; font-size: 80%; }









