

#start {
    background-color: white;
    text-align: center;
    padding: 1em;
    }
#clearInput {
    margin-bottom: 0;
    font-size: 60%;
    cursor: pointer;
    text-align: center;
    margin: 0;
    }
#in {
    width: 80%;
    height: 100px;
    border: 0;
    border-radius: 1em;
    }
#analyseButton {
    }


.main {  }
th { background-color: #fef3e6; }
.main th { 
    font-size: 200%;
    line-height: 1;
    color: #a52a2a;
    border: 1px solid #fef3e6;
    }
.main td { font-size: 150%; color: chocolate; }
td, th {
    vertical-align: top;
    padding: .5em;
    }

.main .chars bdi {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 3px;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    background-color: #fef3e6;
    margin-right: .75em;
    margin-block-start: .5em;
    font-size: 1.2em;
    }

.chars bdi {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 3px;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    margin-right: .75em;
    margin-block-start: .5em;
    font-size: 1.2em;
    }


table { 
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 14px;
	color: #555;
	border-collapse: collapse;
	margin: auto;
	max-width: 90%;
	}
th {
	vertical-align: top;
	max-width: 18em;
	}
td { 
	vertical-align: top; 
	border: 1px solid #ccc;
	text-align: start;
	padding: 0 4px;
	}
.count {
	text-align: center;
	}
body > p {
	text-align: center;
	margin: 1em 2em;
	}
.select {
	border: 0;
	font-size: 24px;
	color: #ccc;
    white-space: nowrap;
	}
.select img {
    width: 18px;
    cursor: pointer;
    }

#comparison {
	text-align: center;
    margin-top: 3em;
    background-color: antiquewhite;
    padding: 1em 0;
    background-color: bisque;
	}
#comparisonInput {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
	justify-content: center;
	}
#comparisonInput textarea {
    margin-right: 1em;
    border-radius: 2px;
    box-shadow: unset;
    border: 1px solid #ccc;
	}
#comparisonInput p {
    margin: 1em;
    font-size: 90%;
	}
#comparisonInput div {
	max-width: 30%;
	}
button {
    font-size: 100%;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 5px;
    border: 1px solid #DDD;
	background-color: #eee;
    color: chocolate;
	}
#comparison div {
	margin: 1em 0;
	text-align: center;
	}
#comparison img {
    vertical-align: middle;
    height: 18px;
    }

h2 {
    text-align: start;
    font-size: 150%;
    color: #a52a2a;
    font-weight: 400;
    text-transform: none;
    margin-top: 1em;
    margin-bottom: 0;
    border: 0;
    }
summary {
    margin-left: 7.5%;
    cursor:pointer;
    }
#legend {
    font-size: 80%;
    line-height: 1.4;
    background-color: antiquewhite;
    margin-block-start: 4em;
    padding: 1em;
    }
#legend strong {
    font-size: 120%;
    margin-inline-end: 1em; 
    }
#legend span, #legend strong {
    display: none;
    }
#notes summary {
    font-size: 80%;
}




