#list_tab_area { display: none; }
#find_tab_area { display: none; }
#list_tab { color: #ccc; }
#find_tab { color: #ccc; }


#transcrip {
	font-family: "Noto Sans", "Gentium Plus", "Doulos SIL", "Charis SIL", sans-serif;
	font-size: 110%;
	}
.tr {
	font-family: "Noto Sans Light", "Noto Sans", "Gentium Plus", "Doulos SIL", "Charis SIL", sans-serif;
	}
.noteCol {
    font-size: 70%;
    }

td {
    border: 0;
    border-inline-end: 1px solid #eee;
    }




#tabs {
	border-bottom: 1px solid #ccc;
	margin: 0 32% 4em 7.5%;
	}
#tabs h2 {
	display: inline-block;
    padding: 0 1em;
    color: #a52a2a;
    text-align: left;
    font-size: 123%;
    margin: 0;
    text-transform: lowercase;
	border: 1px solid #ccc;
	border-bottom: 0;
	font-weight: 400;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	cursor: pointer;
	}
#tabs #list_tab, #tabs #find_tab {
	color: #ccc;
	}
#displayArea {
	display: flex;
	flex-direction: column;
	font-size: 200%;
	margin: 0 32% 0 7.5%;
	text-align: start;
	justify-content: space-between;
	}
#displayArea div:first-of-type {
	min-Height: 20vh;
	}
#transcrip {
	margin-top: 6em;
	}
#printout td, #foundItems td {
	padding: 10px;
	vertical-align: middle;
	}

#help {
    color: white;
    background-color: #60ADFB;
    padding: .2em .4em;
    border-radius: 5px;
    cursor: pointer;
	float: right;
	margin: 0 5% 0 0;
	}
button {
    color: #0C3;
    font-size: 100%;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 5px;
    border: 1px solid #DDD;
	}

#controls {
	margin: 4em 32% 0 7.5%;
	}
#controls button {
    margin: .5em;
	width: 40%;
	}
#controls {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    margin: 0 1em 0 0;
	}

#printout {
	clear: both;
	margin-top: 1em;
	}