#out { font-size: 95%; }
#out a:link { color: teal; text-decoration: none; }
#out a:visited { color: teal; text-decoration: none; }
#out td { font-family: Helvetica, Arial, sans-serif; vertical-align: top; text-align: left; padding: 10px; border:0; line-height: 1.2; font-weight: 400; }
#out h2 { color: #ca6528; font-weight: normal; text-transform: none; font-size: 160%; border: 0; }
#out p { margin: 0 0 4px 0; }
#out .charts { margin:0; }
#out .charts td { padding: 2px 20px 2px 0; text-align: start; color: #777474; font-size: 90%; }
#out table table { margin: 0; }
#out table table td {
    padding: 0 2em .2em 0;
}
