#out { font-size: 100%; }
#out a:link { color: teal; text-decoration: none; }
#out a:visited { color: teal; text-decoration: none; }
#out td { vertical-align: top; text-align: left; border:0; line-height: 1.2; font-weight: 400; font-size: 95%; padding-inline: 1rem; padding-block-end: 1rem;}
#out h2 { color: #ca6528; font-weight: normal; text-transform: none; font-size: 160%; border: 0; }
#out p { margin: 0 0 4px 0; }
#out .charts { margin:0; }
#out .charts td { padding: 2px 20px 2px 0; text-align: start; color: #777474; font-size: 90%; }
#out table { margin-inline-start: 7.5%; margin-inline-end: 30%; }
#out table table { margin: 0; }
#out table table td {
    padding: 0 2em .2em 0;
}
#out table th { vertical-align: top; text-align: end; line-height: 1.25; padding-block-end: 1rem; }



h3 a:link {
	color: gray;
	text-decoration: none;
	}
h3 a:visited {
	color: gray;
	text-decoration: none;
	}
div.sidenote p {
	margin-top: 0;
	}
.thescriptwindow {
	margin: 0 30% 0 7.5%;
	padding: 0;
	border: none;
	width: 60%;
	height: 1000px;
	background-color: white;
	}
#line {
	height: 250px;
	}
#picture {
	margin-top: 10px;
	}
iframe {
	margin-top: 170px;
	}

.usedfor { font-size: 90%; line-height: 1.6; }

#out .status { font-size:80%; margin: 0 0 4px 0; }

#out .scripttype { font-size: 90%; }


span#version {
  padding: 8px 20px;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  right: 0;
}


.clickthrough {
    margin-inline:3em;
    font-size: .8rem;
    float:right;
    }










