@font-face {
    font-family: 'Noto Sans NKo WF';
    src: url('../../shared/webfonts/notosansnko-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans NKo Unjoined WF';
    src: url('../../shared/webfonts/notosansnkounjoined-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans NKo Unjoined WF';
    src: url('../../shared/webfonts/notosansnkounjoined-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
	}


[lang=nqo] { font-family: 'Noto Sans NKo WF'; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }



#freeText {
	font-size: 28px;
	font-family: 'Noto Sans NKo WF';
	text-align: right;
    line-height: 1.4;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







