
#freeText {
	font-size: 24px;
	font-family: 'gentiumpluswf', serif;
    line-height: 1.2;
    text-align: start;
	}

[lang=mn] { font-family: 'gentiumpluswf', serif; font-size: 130%; }

.large .ex { font-size: 150%; line-height: 1.4; }
.narrowlines .listPair { margin-bottom: 0.25em; }





@media print { 
    #freeText { font-size: 18px; } 
    }


