@font-face {
    font-family: 'Gentium Plus WF';
    src: url('../../shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/gentiumplus-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#freeText {
	font-size: 24px;
	font-family: 'Gentium Plus WF', serif;
    line-height: 1.2;
    text-align: start;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ru] { font-family: 'Gentium Plus WF', serif; font-size: 130%; }
.large .ex { font-size: 150%; line-height: 1.4; }
.narrowlines .listPair { margin-bottom: 0.25em; }
