@font-face {
    font-family: 'Gentium Plus WF';
    src: url('../../shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=uk] { 
    font-family: 'Gentium Plus WF', serif; 
    font-size: 130%;
    }


@media print { #freeText { font-size: 18px; } }



#freeText {
	font-size: 24px;
	font-family: 'Gentium Plus WF', serif;
    line-height: 1.2;
    text-align: start;
	}




.large .ex { 
    font-size: 150%;
    line-height: 1.4;
    }
.narrowlines .listPair {
    margin-bottom: 0.25em;
    }




.listItem[lang] { min-width: 3rem; }








.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







