@font-face {
    font-family: 'Noto Sans Canadian Aboriginal WF';
    src: url('../../shared/webfonts/notosanscanadianaboriginal-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosanscanadianaboriginal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=crk] { font-family: "Noto Sans Canadian Aboriginal WF", serif; font-size: 150%; }




#freeText {
	font-size: 24px;
	font-family: "Noto Sans Canadian Aboriginal WF", serif;
    text-align: start;
	line-height: 1.4;
	}




.large[lang=crk] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }
.syllableTable td { background-color: #fffdf5; color: brown; font-size: 120%;  }







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







