@font-face {
    font-family: 'Noto Sans Oriya WF';
    src: url('../../shared/webfonts/notosansoriya-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=or] { font-family: "Noto Sans Oriya", "Noto Sans Oriya WF", "Noto Sans", sans; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 36px;
	font-family: "Noto Sans Oriya", "Noto Sans Oriya WF", "Noto Sans", sans;
	text-align: start;
    line-height: 2;
	}






.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	





.useBlockExamples .charExample .ex {
    font-size: 4rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




