#freeText {
	font-size: 24px;
	font-family: webfont, serif;
    line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }
[lang=ko] { font-family: serif; font-size: 130%; }
.large { font-size: 200%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.listTransc { display: inline; }
.listTrans { display: none; }
