@font-face {
    font-family: 'Noto Serif Myanmar WF';
    src: url('../../shared/webfonts/notoserifmyanmar-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Myanmar WF';
    src: url('../../shared/webfonts/notosansmyanmar-regularwf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=my] { 
	font-family: 'Noto Serif Myanmar WF', serif; 
	font-size: 120%; 
	font-weight: normal;
	line-height: 1.5;
	}

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 26px;
	font-family: 'Noto Serif Myanmar WF', serif;
	text-align: start;
	line-height: 2.4;
	}






.large .ex { 
	font-size: 300%;
	margin-top: .5em;
	margin-bottom: 0.5em;
	line-height: 1;
	}


.listItem[lang] {
    line-height: 2.5;
    margin-block-end: -.5em;
    }

.tonelabel {
    font-size: 80%;
    text-align: end;
    }
.toneexample {
    border: 0;
    padding-inline-start: 2rem;
    }

.borderless { font-size: 1.2rem; margin: auto; }
.borderless td { border: 0; }





.useBlockExamples .charExample .ex {
    font-size: 2rem;
    line-height: 1.8;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }



figure#fig_vowel_grid {
    margin-inline: 5rem;
    }
.vowel_grid { margin:0; border-collapse: collapse; }
.vowel_grid td { vertical-align: top; border: 0; padding-block: 1rem; line-height: 3rem;  white-space: nowrap; }
.vowel_grid td span {text-align: start; border: 0; padding-left: .5em; font-size: 1.7rem; }

.vowel_grid td .ipa {
    color: black;
    font-size: 1.4rem;
    font-style: normal;
    }
.vowel_grid tr { border-block: 1px solid #ddd; }








.map .charExample .ex {
    font-size: 1.6rem;
}


.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }



.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col1, 
#consonant_mappings .mapItem div.col2, 
#consonant_mappings .mapItem div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }




