@font-face {
    font-family: 'Noto Serif Myanmar WF';
    src: url('../../shared/webfonts/notoserifmyanmar-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifmyanmar-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Myanmar WF';
    src: url('../../shared/webfonts/notosansmyanmar-regularwf.woff2') format('woff2'),
         url('../../shared/webfonts/notosansmyanmar-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 26px;
	font-family: 'Noto Serif Myanmar WF', serif;
	text-align: start;
	line-height: 2.4;
	}
[lang=my] { 
	font-family: 'Noto Serif Myanmar WF', serif; 
	font-size: 130%; 
	font-weight: normal;
	line-height: 1.5;
	}
.large .ex { 
	font-size: 300%;
	margin-top: .5em;
	margin-bottom: 0.5em;
	line-height: 1;
	}


.listItem[lang] {
    line-height: 2;
    margin-block-end: -.5em;
    }

.tonelabel {
    font-size: 80%;
    text-align: end;
    }
.toneexample {
    border: 0;
    padding-inline-start: 2rem;
    }

.borderless { font-size: 1.2rem; margin: auto; }
.borderless td { border: 0; }

@media print { #freeText { font-size: 18px; } }





.useBlockExamples .charExample .ex {
    font-size: 2.5rem;
    line-height: 1.8;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




