@font-face {
    font-family: 'Noto Serif Myanmar WF';
    src: url('../../shared/webfonts/notoserifmyanmar-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Myanmar WF';
    src: url('../../shared/webfonts/notosansmyanmar-regularwf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=shn] { 
	font-family: 'GreatHorKham Yangon', 'Noto Serif Myanmar WF', serif; 
	font-size: 130%; 
	font-weight: normal;
	}

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 26px;
	font-family: 'GreatHorKham Yangon', 'Noto Serif Myanmar WF', serif;
	text-align: start;
	line-height: 1.7;
	}





.large .ex { 
	font-size: 300%;
	margin-top: .5em;
	margin-bottom: 0.5em;
	line-height: 1;
	}



.listItem[lang] {
    line-height: 2;
    margin-block-end: -.5em;
    }








.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}


.vowelSignExample bdi {
    font-size:300%;
    line-height:1.4;
    }
.vowelSignExample {
    margin-block-end: 1rem;
    }




