@font-face {
    font-family: 'Noto Sans Vai WF';
    src: url('/shared/webfonts/notosansvai-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansvai-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: "Noto Sans Vai WF", serif;
    text-align: start;
	line-height: 1.4;
	}
[lang=vai] { font-family: "Noto Sans Vai WF", serif; font-size: 150%; }
.large[lang=vai] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }
.syllableTable td { background-color: #fffdf5; color: brown; font-size: 120%;  }
