@font-face {
    font-family: 'Noto Sans Adlam WF';
    src:	local('Noto Sans Adlam'),
			url('../../shared/webfonts/notosansadlam-regular-webfont.woff2') format('woff2'),
         	url('../../shared/webfonts/notosansadlam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Sans Adlam Unjoined WF';
	src: 	local('Noto Sans Adlam Unjoined'),
			url('../../shared/webfonts/notosansadlamunjoined-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notosansadlamunjoined-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: Noto Sans Adlam WF, serif;
	text-align: start;
    line-height: 2;
	}

@media print { #freeText { font-size: 18px; } }

[lang=fuf] { font-family: Noto Sans Adlam WF, 'Ebrima', serif; font-size: 140%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	
