@font-face {
    font-family: 'Noto Sans Gurmukhi WF';
    src: url('../../shared/webfonts/NotoSansGurmukhi-Regularwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Gurmukhi WF';
    src: url('../../shared/webfonts/notoserifgurmukhi-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=pa] { font-family: "Noto Serif Gurmukhi WF", serif; font-size: 150%; }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 24px;
	font-family: "Noto Serif Gurmukhi WF", serif;
    text-align: start;
	line-height: 1.4;
	}



.large[lang=pa] { font-size: 300%;  text-align: center; line-height: 1; margin-top: 0; margin-bottom: 0; }
.narrowlines .listPair { margin-bottom: 0.25em; }




.rb { 
    font-size: 2rem;
    font-family: 'Noto Serif Gurmukhi WF';
    }

.useBlockExamples .charExample .ex {
    font-size: 2.5rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }



