@font-face {
    font-family: 'Noto Serif Hebrew WF';
    src: local('Noto Serif Hebrew'),
         url('../../shared/webfonts/notoserifhebrew-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Hebrew WF';
	text-align: right;
    line-height: 1.2;
	}
[lang=he] { 
    font-family: 'Noto Serif Hebrew WF';
    font-size: 140%;
    }
.large .ex { 
    font-size: 300%; 
    margin-top: .5em;
    margin-bottom: 0.5em;
    line-height: 1;
    }




@media print { 
    #freeText { font-size: 18px; }
    }








.useBlockExamples .charExample .ex {
    font-size:300%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 150%;
    }






