@font-face {
    font-family: 'Noto Serif Hebrew WF';
    src: local('Noto Serif Hebrew'),
         url('../../shared/webfonts/notoserifhebrew-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=he] { 
    font-family: 'Noto Serif Hebrew WF';
    font-size: 140%;
    }

@media print { 
    #freeText { font-size: 18px; }
    }




#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Hebrew WF';
	text-align: right;
    line-height: 1.2;
	}






.large .ex { 
    font-size: 300%; 
    margin-top: .5em;
    margin-bottom: 0.5em;
    line-height: 1;
    }











.useBlockExamples .charExample .ex {
    font-size:250%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 150%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}



figure#fig_vowel_grid, figure#fig_novowel_grid {
    margin-inline: 5rem;
    }
.vowel_grid { margin:0; border-collapse: collapse; }
.vowel_grid td { vertical-align: top; border: 0; padding-block: 1rem; line-height: 3rem;  white-space: nowrap; }
.vowel_grid td span {text-align: start; border: 0; padding-left: .5em; font-size: 2rem; }

.vowel_grid td .ipa {
    color: black;
    font-size: 1.6rem;
    font-style: normal;
    }
.vowel_grid tr { border-block: 1px solid #ddd; }







