#freeText {
	font-size: 24px;
	font-family: "Times New Roman", serif;
    line-height: 1.2;
	}
@media print { #freeText { font-size: 18px; } }
[lang=el] { font-family: "Times New Roman", 'Gentium', serif; font-size: 130%; }
.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
