@font-face {
    font-family: 'Gentium Plus WF';
    src: url('../../shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/gentiumplus-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#freeText {
	font-size: 24px;
	font-family: "Gentium Plus WF";
    line-height: 1.2;
	}
[lang=el] { 
	font-family: "Gentium Plus WF"; 
	font-size: 130%;
	}
.large .ex { 
	font-size: 200%;
	margin-top: .5em;
	margin-bottom: 0.5em;
	line-height: 1;
	}


@media print { #freeText { font-size: 18px; } }
