@font-face {
    font-family: 'Noto Sans Telugu WF';
    src: url('../../shared/webfonts/notosanstelugu-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Telugu WF';
    src: url('../../shared/webfonts/notoseriftelugu-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=te] { font-family: "Noto Serif Telugu WF", 'thisScript WF', serif; font-size: 140%; }

.rb { font-family: 'Noto Serif Telugu WF'; }
	




#freeText {
	font-size: 36px;
	font-family: Noto Serif Telugu WF, serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }






/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 1.2;
    }
.charExample.inline .ex {
    font-size: 140%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
    font-size: 2.4em;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 2rem;
    margin-inline-end: 1rem;
    line-height: 1.6;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 4rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
#consonant_mappings .mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}














