@font-face {
    font-family: 'Noto Sans Telugu WF';
    src: url('../../shared/webfonts/notosanstelugu-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Telugu WF';
    src: url('../../shared/webfonts/notoseriftelugu-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=te] { font-family: "Noto Serif Telugu WF", 'thisScript WF', serif; font-size: 140%; }
	
@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 28px;
	font-family: Noto Serif Telugu WF, serif;
	text-align: start;
    line-height: 2;
	}






.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	





.useBlockExamples .charExample .ex {
    font-size: 4rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




