@font-face {
    font-family: 'Noto Sans Buginese WF';
    src: url('/shared/webfonts/notosansbuginese-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansbuginese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: "Noto Sans Buginese WF", serif;
	text-align: start;
	line-height: 2.5;
	}
[lang=bug] { font-family: 'Noto Sans Buginese WF', 'Noto Sans Buginese WF', serif; font-size: 140%; }
.large { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
	.temp { color: #ccc; }
