@font-face {
    font-family: 'Noto Sans Meroitic WF';
    src: url('../../shared/webfonts/notosansmeroitic-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=xmr] { font-family: 'Noto Sans Meroitic WF', serif; }

.rb { font-family: 'Noto Sans Meroitic WF'; }




#freeText {
	font-size: 40px;
	font-family: Noto Sans Meroitic WF, serif;
	text-align: start;
    line-height: 2;
    word-break: break-all;
	}
@media print { #freeText { font-size: 18px; } }







/* Examples */
.charExample .ex {
    font-size:180%;
    line-height: 1.4;
    }
.charExample.inline .ex {
    font-size: 140%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 3rem;
	line-height: 1.4;
	}
.mapItem .codepoint bdi[lang] {
    color: black;
    font-size: 2rem;
    margin-inline-end: 1rem;
    line-height: 1.6;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 3rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
.mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}







/* Sequence tables */
.sequenceTable.breakdown {
   margin-inline-start: calc(7.5% + 5.2rem);
   margin-block-start: -.7rem;
    }
.sequenceTable .ex {
    font-size: 1.6em;
    line-height: 1;
    }






















