@font-face {
    font-family: 'Noto Sans Georgian WF';
    src: url('../../shared/webfonts/NotoSansGeorgian-regular.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansGeorgian-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Georgian WF';
	src: 	local('Noto Serif Georgian'),
			url('../../shared/webfonts/notoserifgeorgian-regular-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/notoserifgeorgian-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
    font-family: 'BGP 2017 DejaVu Serif WF';
    src: local('BGP 2017 DejaVu Serif'),
		 url('../../shared/webfonts/bpg_2017_dejavuserif-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/bpg_2017_dejavuserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'BGP 2017 DejaVu Sans WF';
	src: 	local('BGP 2017 DejaVu Sans'),
			url('../../shared/webfonts/bpg_2017_dejavusans-webfont.woff2') format('woff2'),  
			url('../../shared/webfonts/bpg_2017_dejavusans-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	
[lang|='ka'] {
	font-family: 'BGP 2017 DejaVu Serif WF', 'Noto Serif Georgian', serif;
	}
	
#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "BGP 2017 DejaVu Serif WF', 'Noto Serif Georgian",  serif;
	background-color: white;
	}

.linkHighlight {
	font-size: 120%;
	}
