@font-face {
    font-family: 'Noto Serif Thai WF';
    src: url('../../shared/webfonts/NotoSerifThai-Regularwebfont.woff2');
    font-weight: normal;
    font-style: normal;
	}

#freeText {
	font-size: 24px;
	font-family: 'Noto Serif Thai WF', serif;
    line-height: 1.6;
	}

[lang=th] { font-family: 'Noto Serif Thai WF', serif; font-size: 150%; }

.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }




.listItem[lang] {
    line-height: 2;
    }



.useBlockExamples .charExample .ex {
    font-size: 2.4em;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




.listPair .listMeaning { font-family: ExtendedLatinWF; }



.mapItem .charExample span[lang] {
    font-size: 120%;
	}


.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 0;
    }
.mapItem .ipa {
    hyphens: none;
    }
.mapItem div.col1 {
    flex: 6;
    }
.mapItem div.col2 {
    flex: 1;
    }
.mapItem div.col3 {
    flex: 6;
    }
.mapItem.single div.col1 {
    flex: 2;
    }
.mapItem.single div.col2 {
    flex: 5;
    }
.mapItem.single div.col3 {
    flex: 1;
    }
.mapItem example {
    line-height: 3;
    }
.mapItem p.glyphs {
    margin-inline-start: .5rem;
    margin-block-end: 0;
    }
.mapItem p.example {
    margin-inline-start: 1rem;
    margin-block-start: 0;
    font-size: 80%;
    margin-block-end: 1.5rem;
    }


/*

.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 0;
    }
.mapItem .ipa {
    hyphens: none;
    }
#consonant_mappings .mapItem div.col1 {
    flex: 6;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 6;
    }
#consonant_mappings .mapItem.single div.col1 {
    flex: 2;
    }
#consonant_mappings .mapItem.single div.col2 {
    flex: 5;
    }
#consonant_mappings .mapItem.single div.col3 {
    flex: 1;
    }
#consonant_mappingsX .mapItem div.col2 {
    flex: 1;
    text-align: end;
    }
.mapItem example {
    line-height: 3;
    }
#vowel_mappings .mapItem p.example {
    margin-inline-start: .5rem;
    }
#consonant_mappings .mapItem p.glyphs {
    margin-inline-start: .5rem;
    margin-block-end: 0;
    }
#consonant_mappings .mapItem p.example {
    margin-inline-start: 1rem;
    margin-block-start: 0;
    font-size: 80%;
    margin-block-end: 1.5rem;
    }
*/






