@font-face {
    font-family: 'Noto Serif Thai WF';
    src: url('../../shared/webfonts/NotoSerifThai-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSerifThai-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 24px;
	font-family: 'Noto Serif Thai WF', serif;
    line-height: 1.6;
	}
[lang=th] { font-family: 'Noto Serif Thai WF', serif; font-size: 150%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.mapItem .charExample span[lang] {
    font-size: 120%;
	}
