@font-face {
	font-family: 'Noto Serif Malayalam WF';
	src: 	local('Noto Serif Malayalam'),
			url('/shared/webfonts/notoserifmalayalam-regular-webfont.woff2') format('woff2'),  
			url('/shared/webfonts/notoserifmalayalam-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'Noto Sans Malayalam WF';
	src: 	local('Noto Sans Malayalam'),
			url('/shared/webfonts/NotoSansMalayalamUI-Regularwebfont.woff2') format('woff2'),  
			url('/shared/webfonts/NotoSansMalayalamUI-Regularwebfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

[lang|="ml"] {
	font-family: "Noto Serif Malayalam WF", "Noto Sans Malayalam WF", "Malayalam Sangam MN", "Malayalam MN", "Karthika", "Noto Sans Malayalam", "Thoolika Traditional Unicode", sans-serif;
	font-size: 24px;
}
#index td {
	font-family: "Noto Serif Malayalam WF", "Noto Sans Malayalam WF", "Malayalam Sangam MN", "Malayalam MN", "Karthika", "Noto Sans Malayalam", "Thoolika Traditional Unicode", sans-serif;
	font-size: 26px;
	padding: 16px;
	text-align: left;
}

#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 130px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Noto Serif Malayalam WF", "Noto Sans Malayalam WF", "Malayalam Sangam MN", "Malayalam MN", "Karthika", "Noto Sans Malayalam", "Thoolika Traditional Unicode", sans-serif;
	background-color: white;
	}


.startAligned {
    margin: 0;
    }
.startAligned th, .startAligned td {
    text-align: start;
    }
