@font-face {
    font-family: 'Noto Sans Malayalam WF';
    src: url('../../shared/webfonts/NotoSansMalayalamUI-Regularwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Malayalam WF';
	src: 	url('../../shared/webfonts/notoserifmalayalam-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}


[lang=ml] { font-family: "Noto Serif Malayalam WF", 'Malayalam WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }



#freeText {
	font-size: 28px;
	font-family: "Noto Serif Malayalam WF", serif;
	text-align: start;
    line-height: 2;
	}




.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	





.useBlockExamples .charExample .ex {
    font-size: 2.5rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }




