@font-face {
    font-family: 'Noto Serif Lao WF';
    src: url('/shared/webfonts/notoseriflao-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notoseriflao-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
#freeText {
	font-size: 28px;
	font-family: 'Noto Serif Lao WF', serif;
	text-align: start;
    line-height: 1.4;
	}
@media print { #freeText { font-size: 18px; } }
[lang=lo] { font-family: 'Noto Serif Lao WF', serif; font-size: 120%; }
.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }
.loc { font-family: gentiumpluswf; }
