@font-face {
    font-family: 'Sunuwar WF';
    src: url('../../shared/webfonts/uni11bc0sunuwar-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+10D40-10D8F;
	}


#freeText {
	font-size: 28px;
	font-family: 'Uni11BC0Sunuwar';
	text-align: start;
    line-height: 2;
	}

@media print { 
    #freeText { font-size: 18px; } 
    }

[lang=suz] { font-family: 'Uni11BC0Sunuwar', serif; }

.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	







.useBlockExamples .charExample .ex {
    font-size:160%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 140%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}






