@font-face {
    font-family: 'Noto Sans Tai Viet WF';
    src: url('/shared/webfonts/notosanstaiviet-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanstaiviet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'Tai Heritage Pro WF';
    src: url('/shared/webfonts/taiheritagepro-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/taiheritagepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=blt] { font-family: 'Tai Heritage Pro', 'Tai Heritage Pro WF', 'Noto Sans Tai Viet', 'Noto Sans Tai Viet WF', serif; font-size: 120%; }




#charlistsection img {
	vertical-align: top;
	}
#charlistsection p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	}
a img {
	vertical-align: middle;
	}
img.ex {
	vertical-align: middle;
	}


#fontsetting { width: 270px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -258px; }
#fontsettingswitch { height: 130px; }

.charimg {
	font-size: 110px;
	min-width: 190px;
	min-height: 190px;
	text-align: center;
	vertical-align: middle;
	line-height: 190px;
	font-family: "Noto Sans NKo WF", "ebrima",  serif;
	background-color: white;
	}

.linkHighlight {
	font-size: 120%;
	}
