@font-face {
    font-family: 'Doulos SIL WF';
    		src: local('Doulos SIL'),
			url('../../shared/webfonts/DoulosSIL-Rwebfont.woff2') format('woff2'),
         	url('../../shared/webfonts/DoulosSIL-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Arian AMU WF';
    src: url('../../shared/webfonts/arnamu-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/arnamu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

/* set default font for red example text here, by language */
[lang|='hy'] { 
	font-family: "Arian AMU WF", "Noto Sans Armenian", sans-serif; 
	font-size: 20px; 
	}

/* set default font for large boxes here */
.charimg { 
	font-size: 130px; 
	min-width: 190px; 
	min-height: 190px; 
	text-align: center; 
	vertical-align: middle; 
	line-height: 190px; 
	font-family: Mshtakan, "Noto Serif Armenian", "Doulos SIL WF", "Lucide Grande", "Arial", sans-serif; 
	background-color: white; 
	}

#fontsetting { width: 250px; }
#fontsetting.open { right: 0px; }
#fontsetting.closed { right: -238px; }
#fontsettingswitch { height: 150px; }
#fontsetting p { margin-right: 20px; }

.sidebar {
	background-color: white;
	padding-left: 2em;
	border-bottom-left-radius: 10px;
	}
