@font-face {
    font-family: 'Noto Sans Georgian WF';
    src: url('../../shared/webfonts/NotoSansGeorgian-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Georgian WF';
	src: url('../../shared/webfonts/notoserifgeorgian-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
    font-family: 'BGP 2017 DejaVu Serif WF';
    src: url('../../shared/webfonts/bpg_2017_dejavuserif-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'BGP 2017 DejaVu Sans WF';
	src: url('../../shared/webfonts/bpg_2017_dejavusans-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}



[lang=ka] { font-family: "BGP 2017 DejaVu Serif WF", 'Noto Serif Georgian WF', serif; font-size: 140%; }

.rb { font-family: 'Noto Serif Georgian WF'; }






#freeText {
	font-size: 28px;
	font-family: "BGP 2017 DejaVu Serif WF", serif;
	text-align: start;
    line-height: 2;
	}
@media print { #freeText { font-size: 18px; } }



/* Examples */
.charExample .ex {
    font-size:200%;
    line-height: 1.4;
    }
.charExample.inline .ex {
    font-size: 140%;
    }
/* see also map tweaks */


/* CharacterBox panels */
.listItem[lang] {
    line-height: 2;
	}

/* Vowel examples in right column */
.vowelSignExample bdi {
    font-size:300%;
    line-height:.6;
    }


/* Map tweaks */
.map .charExample .ex {
    font-size: 1.6rem;
    }
.map_row {
	min-height: 2rem;
	line-height: 1.4;
	}
.mapItem .ipa {
    line-height: 2;
    }
.mapItem .posn {
	min-width: 4rem;
	}

.mapItem .phone + div { width: 100%; }  /* this can be removed once all pages migrate */
.mapItem .posn { display: none; }

.shaping bdi {
    margin-inline: .5rem;
    }
.mapItem .shaping .codepoint bdi[lang] {
	font-size: 1.6rem;
	}





/* Sequence tables */
.sequenceTable.breakdown {
   margin-inline-start: calc(7.5% + 5.2rem);
   margin-block-start: -.7rem;
    }
.sequenceTable .ex {
    font-size: 1.6em;
    line-height: 1;
    }






















