@font-face {
    font-family: 'Noto Sans Georgian WF';
    src: url('../../shared/webfonts/NotoSansGeorgian-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'Noto Serif Georgian WF';
	src: 	local('Noto Serif Georgian'),
			url('../../shared/webfonts/notoserifgeorgian-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
    font-family: 'BGP 2017 DejaVu Serif WF';
    src: local('BGP 2017 DejaVu Serif'),
		 url('../../shared/webfonts/bpg_2017_dejavuserif-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	font-family: 'BGP 2017 DejaVu Sans WF';
	src: 	local('BGP 2017 DejaVu Sans'),
			url('../../shared/webfonts/bpg_2017_dejavusans-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	}

[lang=ka] { font-family: "BGP 2017 DejaVu Serif WF", 'Noto Serif Georgian WF', serif; font-size: 140%; }

@media print { #freeText { font-size: 18px; } }





#freeText {
	font-size: 28px;
	font-family: "BGP 2017 DejaVu Serif WF", serif;
	text-align: start;
    line-height: 2;
	}





.large .ex { font-size: 300%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1; }	







.useBlockExamples .charExample .ex {
    font-size:200%;
    line-height: 1;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 200%;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}







