<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="utf-8"/>
<title>Balinese orthography notes</title>

<link rel="stylesheet" href="../../shared/style/docs.css" />
<link rel="stylesheet" href="../common28/local.css" />

<script src="../../shared/code/boilerplate.js"></script>
<script src="../../shared/code/toc_2020.js"></script>
<script src="../common28/functions.js"></script>
<script src="refs.js"></script>
</head>

<body class="useBlockExamples">
<header>
<div id="header-boilerplate"></div>
<script>document.getElementById('header-boilerplate').innerHTML = bp_header('../../shared/images/world.gif','docs');</script>
</header>



<h1 style="hyphens: none;">Balinese
<div class="subhead">orthographies</div></h1>


<aside class="sidebar">
<nav>
<h2 style="margin-block-start: 0;">Related</h2>
<p><a href="../index.html#scriptnotes">All orthography descriptions</a></p>
<p><a href="block.html">Character notes</a></p>
<p><a href="../../pickers/index.html">Character apps</a></p>
<p><a href="../links.html?iso=Bali">Additional information</a></p>
</nav>

<div id="fontsetting" class="closed">
</div>
</aside>




<div class="section">
<p>The following pages describe orthographies based on the Balinese script:</p>
<ul id="olinks">
<li><a href="ban.html">Balinese</a></li>
</ul>
</div>





<section id="languages">
<h2>Languages using this script</h2>
<p>According to ScriptSource, the Balinese script is used for the following languages:</p>
<ul id="scriptLanguageList">
</ul>
</section>




<div class="smallprint"><span id="version"></span></div>



<p id="status">Updated 
  <!-- #BeginDate format:Sw1 -->10 March, 2022<!-- #EndDate -->
  <span id="versionTop"></span>
  </p>


<script>
initialiseIndex()
</script>
</body>
</html>
