@font-face {
    font-family: 'ExtendedLatinWF';
    src: url('../../../shared/webfonts/gentiumplus-r-webfont.woff2');
    font-weight: normal;
    font-style: normal;
	}







#in {
    font-size: 3rem;
    text-align: start;
    line-height: 2em;
    font-family: ExtendedLatinWF;
    height: 100px;
    border: 0;
    width: 95%;
    border-radius: .5rem;
    padding: .5rem;
    }

#ipaAnalyseTable {
    border:0;
    margin-inline: 2rem;
    margin-block: 4rem;
    }
#ipaAnalyseTable tr {
    margin-block-end: 1rem;
    }
#ipaAnalyseTable td {
    border:0;
    font-size: 1rem;
    vertical-align: middle;
    text-align: start;
    border-block-end: 1px solid #eee;
    padding-block: 1rem;
    }
#ipaAnalyseTable th {
    text-align: center;
    vertical-align: middle;
    font-size: 2.1rem;
    line-height: 1;
    font-family: ExtendedLatinWF;
    width: 4em;
    font-weight: normal;
    border-block-end: 1px solid #eee;
    padding-block: 1rem;
    }





#start {
    background-color: white;
    text-align: center;
    padding: 1em;
    
    background-color: antiquewhite;
    }
#clearInput {
    margin-bottom: 0;
    font-size: 60%;
    cursor: pointer;
    text-align: center;
    margin: 0;
    }
#analyseButton {
    }
.segment {
    cursor: pointer;
    }



.main .chars bdi {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 3px;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    background-color: #fef3e6;
    margin-right: .75em;
    margin-block-start: .5em;
    font-size: 1.2em;
    }

.chars bdi {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 3px;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    margin-right: .75em;
    margin-block-start: .5em;
    font-size: 1.2em;
    }


.count {
	text-align: center;
    padding-top: .4em;
	}
body > p {
	text-align: center;
	margin: 1rem 2rem;
	}
.select {
	border: 0;
	font-size: 24px;
	color: #ccc;
    white-space: nowrap;
	}
.select img {
    width: 18px;
    cursor: pointer;
    }

#comparison {
	text-align: center;
    margin-top: 3em;
    background-color: antiquewhite;
    padding: 1em 0;
    background-color: bisque;
	}
#comparisonInput {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
	justify-content: center;
	}
#comparisonInput textarea {
    margin-right: 1em;
    border-radius: 2px;
    box-shadow: unset;
    border: 1px solid #ccc;
	}
#comparisonInput p {
    margin: 1em;
    font-size: 90%;
	}
#comparisonInput div {
	max-width: 30%;
	}
button {
    font-size: 100%;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 5px;
    border: 1px solid #DDD;
	background-color: white;
    color: chocolate;
	}
#comparison div {
	margin: 1em 0;
	text-align: center;
	}
#comparison img {
    vertical-align: middle;
    height: 18px;
    }

h2 {
    text-align: start;
    font-size: 150%;
    color: #a52a2a;
    font-weight: 400;
    text-transform: none;
    margin-top: 1em;
    margin-bottom: 0;
    border: 0;
    }
summary {
    margin-left: 7.5%;
    cursor:pointer;
    }
#legend {
    font-size: 80%;
    line-height: 1.4;
    background-color: antiquewhite;
    margin-block-start: 4em;
    padding: 1em;
    color: #222;
    }
#legend p {
    display: none;
    }
#legend strong {
    font-size: 120%;
    margin-inline-end: 1em; 
    }
#legend a {
    font-weight: bold;
    }
    
    
#notes summary {
    font-size: 80%;
    }
#status {
    text-align: end;
    }




.divider {
    color: chocolate;
    font-family: ralewaywf;
    }
.closeDialog {
    text-align: end; 
    cursor: pointer;
    font-size: 1.4rem;
    margin: 0;
    color: #ccc;
    }


#explodeWrapper {
    text-align: center;
    }