/* ARTICLE STYLES */
section > article {
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
article {
    margin: 1rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    }
article p {
    margin: 0;
    }
article table {
    margin: 0;
    margin-inline: 0;
    width: 100%;
    }
article .cdChar {
    text-align: center;
    /*border-block-end: 1px solid #eee;*/
    margin-block-end: 1em;
    font-size: 2rem;
    padding-inline: 1rem;
    font-weight: normal;
    min-width: 1em;
    vertical-align: top;
    }
article .cdData {
    border-inline: 0;
    width: 100%;
    }



.cdChar .ex, .cdData .ex {
  color: chocolate;
}


article tr {
    width: 100%;
    }
.comparison article td {
    border: 0;
    }
article .insertTranscription {
    display: none;
    }
article .character_dialog_close_button {
    display: none;
    }
.articleClose {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    float: right;
    }

/* allow for space between rows */
article tr {
    float: left;
    width: 100%;
    }
article tr:first-of-type {
    margin-top: 0;
    }



article .notesLink {
	float: right;
	font-style: italic;
	text-align: end;
	font-size: .7rem;
	}
article .notesLink p {
	margin-block: 0;
	line-height: 1.6;
	}

article .advice {
    text-align: right;
    font-style: italic;
    font-size: 80%;
    margin-right: 2em;
    line-height: 1;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 3px;
    }
article .panelCharacter img {
    height: 2.25rem;
    border-radius: .5em;
    border: 1px solid #ddd;
    margin-block-start: 0.2em;
    vertical-align: middle;
    }
article td {
    width: 100%;
    border: 0;
    text-align: start;
    padding: 0 .5em;
    vertical-align: top;
    }
.exCharClose {
	font-size: 120%;
	color: burlywood;
	line-height: 1;
	display: inline-block;
	cursor: pointer;
    margin-block: 0;
	}
.multilineGlossedText .stack {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-right: .75em;
  margin-top: .5em;
  text-align: start;
  margin-bottom: 2rem;
}

