body {
    border-inline-start: 2px solid antiquewhite;
    }

.insertTranscription { display: block; }
p, h2, h3, h4, dl, div#footer, div.example, figure, details#scriptLinks {
    margin-inline: 1rem;
    margin-block: 1rem;
    }
h2 {
    color: #F63;
    }
.charDetails p {
    line-height: 2em;
    }
p.leadin {
    margin-inline: 1rem;
    }
.decomposition, .vowelPairing, .tonePairing, .otherPairing, .charLowercase, .charUppercase, .seealso, .subjPair {
    font-size: 85%;
    text-align: start;
    margin-inline: 1rem;
    line-height: 1;
    }
.charDetails {
    margin-block-end: 5rem;
    }
tt {
    display: none;
    }



.basicInfo {
    /*padding-inline-start: 2rem;*/
    text-align: start;
    }
.nnameLoc, .typeLoc {
    margin-inline-end: 2rem;
    }
.basicInfo .name {
    margin-inline-end: 2rem;
    }
.charShape {
    float: right;
    margin-inline: 1rem;
    }


.transcription {
  font-size: 90%;
  line-height: 1em;
  text-align: end;
  clear: right;
  font-style: italic;
  float: right;
  margin-block-end: 2rem;
  margin-inline-start: 3rem;
  color: chocolate;
  padding-left: .5rem;
  padding-right: .5rem;
}

.orthogFilePath {
    text-align: end;
    margin-inline: 2rem;
    font-size: 70%;
    }












