/* These styles are used only to format xx-details.html files during editing. */


body { padding: 2rem; }

.insertTranscription { 
	display: block;
	color:red;
	font-size: 4rem;
	margin-top: 3rem;
	border-block-start: 2px solid #eee;
	}

.leadin {
	color: chocolate;
	font-size: 80%;
	font-weight: bold;
	margin-top: 2rem;
	}

a { 
	color: teal;
	font-size: 80%;
	}

.h {
	font-size: 200%;
	padding-inline-end: 2rem;
	display: inline-block;
	}
