#list_tab_area { display: none; }
#find_tab_area { display: none; }
#list_tab { color: #ccc; }
#find_tab { color: #ccc; }


.term {
    color: teal;
    cursor: pointer;
    }


#transcrip {
	font-family: "Noto Sans", "Gentium Plus", "Doulos SIL", "Charis SIL", sans-serif;
	font-size: 110%;
	}
.tr {
	font-family: /*"Noto Sans Light", "Noto Sans",*/ "Gentium Plus", "Doulos SIL", "Charis SIL", sans-serif; font-size:120%;
	}
.noteCol {
    font-size: 70%;
    }
.markupCol {
    font-size: 70%;
    /*width: 30%;*/
    text-align: start;
    white-space: nowrap;
    border: 0;
    }
.tickCol {
    border: 0;
    }

td {
    border: 0;
    border-inline-end: 1px solid #eee;
    vertical-align: bottom;
    }

.termCol {
    max-width: 30%;
    }


#tabs {
	border-bottom: 1px solid #ccc;
	margin: 0 32% 4em 7.5%;
	}
#tabs h2 {
	display: inline-block;
    padding: 0 1em;
    color: #a52a2a;
    text-align: left;
    font-size: 123%;
    margin: 0;
    text-transform: lowercase;
	border: 1px solid #ccc;
	border-bottom: 0;
	font-weight: 400;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	cursor: pointer;
	}
#tabs #list_tab, #tabs #find_tab {
	color: #ccc;
	}
#displayArea {
	display: flex;
	flex-direction: column;
	font-size: 200%;
	margin: 0 32% 0 7.5%;
	text-align: start;
	justify-content: space-between;
	}
#displayArea div:first-of-type {
	min-Height: 20vh;
	}
#transcrip {
	margin-top: 6em;
	}
#printout td, #foundItems td {
	padding: 10px;
	vertical-align: middle;
    line-height: 1.2;
	}

#help {
    color: white;
    background-color: #60ADFB;
    padding: .2em .4em;
    border-radius: 5px;
    cursor: pointer;
	float: right;
	margin: 0 5% 0 0;
	}
button {
    color: #0C3;
    font-size: 100%;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 5px;
    border: 1px solid #DDD;
	}

#controls {
	margin: 4em 32% 0 7.5%;
	}
#controls button {
    margin: .5em;
	width: 40%;
	}
#controls {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    margin: 0 1em 0 0;
	}

#printout {
	clear: both;
	margin-top: 1em;
	}


#freqout td { 
    min-width: 7rem;
    vertical-align: middle;
    }
.uname { text-align: start; }
.char { font-size: 2rem; }
.freq { font-size: 1rem; }
.ipa:before { 
	content: '⌈'; 
	font-family: ExtendedLatinWF, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 1.5px; 
	margin-left: 0.2em; 
	color: #aaa; 
	}
.ipa:after { 
	content: '⌋'; 
	font-family: ExtendedLatinWF, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 0.2em; 
	margin-left: 1.5px;  
	color: #aaa; 
	}
.ipa { 
	font-family: ExtendedLatinWF, doulosipa,"Gentium Plus", "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica", sans-serif; 
	font-size: 110%;
    font-style: italic;
	font-feature-settings: "ss05" 1;
	}

table {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#panel { width: 50%; display: none; }




.set {
    margin-inline-start: 5rem;
    line-height: 1.2;
    }
.set .symbol {
    font-size: 1.5rem;
    cursor: pointer;
    }
.set .desc {
    font-size: 80%;
    font-style: italic;
    margin-inline-start: 1rem;
    }



.copyme {
    height:1rem;
    margin-inline-start:.5rem;
    cursor:pointer;
    }
.copyme:hover {
    background-color: beige;
    border-bottom: 1px solid brown;
    padding-bottom: .25rem;
    }
.showPanel {
    cursor:pointer;
    float:right;
    height:.6rem;
    padding:.5rem;
    }
.showPanel:hover {
    border-bottom: 1px solid brown;
    padding-bottom: .75rem;
    }


samp {
    font-size: 1rem;
    }


dialog {
    position: fixed;
    top: 40%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    }


.rb {
    color: chocolate;
    font-size: 1.6rem;
    line-height: 2;
    margin-block: .5rem;
    font-family: Webfont;
    }

.translitGloss img, .IPAGloss img, .rb img {
    height: 1.4rem;
    cursor: pointer;
    }


#panel #character_panel_close_button {
    position: fixed;
    bottom: 0;
    right: 54%;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    z-index: 2000;
    cursor: pointer;
    font-size: 180%;
    border: 1px solid #ddd;
}

#list_tab_area th {
    font-weight: normal;
    font-size: 70%;
    height: 1rem;
    line-height: 1;
    color: #aaa;
    text-align: start;
}


