@font-face {
    font-family: 'Noto Serif Devanagari WF';
    src: url('../../shared/webfonts/notoserifdevanagari-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=hi] { 
    font-family: 'Noto Serif Devanagari WF', serif; 
    font-size: 180%;
    line-height: 1.4;
    }

@media print { #freeText { font-size: 18px; } }




#freeText {
	font-size: 36px;
	font-family: 'Noto Serif Devanagari WF', serif;
    line-height: 1.6;
	}


.listItem[lang] {
    font-size: 200%;
    }



.large .ex { font-size: 400%; margin-top: .5em; margin-bottom: 0.5em; line-height: 1.75; }
.iso15919 { font-family: gentiumpluswf; }








.useBlockExamples .charExample .ex {
    font-size: 3.3rem;
    line-height: 1.2;
    }
.useBlockExamples .charExample.inline .ex {
    font-size: 1.4rem;
    }

.map .charExample .ex {
    font-size: 1.6rem;
}



.mapItem {
    text-align: start;
    }
.mapItem.initial {
    border-bottom: 0;
    }
.mapItem .col1, .mapItem .col2 {
    margin-inline-end: 1rem;
    }
.mapItem .ipa {
    hyphens: none;
    }
#vowel_mappings .mapItem div.col3 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col2 {
    flex: 1;
    }
#vowel_mappings .mapItem div.col1 {
    flex: 1;
    }
#consonant_mappings .mapItem div.col3 {
    flex: 3;
    }
#consonant_mappings .mapItem div.col2 {
    flex: 1;
    text-align: end;
    }
.mapItem example {
    line-height: 3;
    }


